$fontFamily-adventure: 'Advent Pro', sans-serif;
$fontFamily-kanit: 'Kanit', sans-serif;
$fontFamily-medivalSharp: 'MedievalSharp', cursive;
body{
    font-family: 'Kanit', sans-serif;
    color: $color-black;
}
:root{
    @include desktopS{
      font-size: 14px;
    }

}
*{
    box-sizing: border-box;
}
.transparent{
    &::after{
    content: "";
    z-index: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0; 
    }
 
}
.disabled{
    display: none !important;
}

@keyframes an__gradient_background{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}