$color-white: #f8f9fa;
$color-gray_light: #6c757d;
$color-gray_dark: #343a40;
$color-purple: #7400b8;
$color-red: #e63946;
$color-error: #e5383b;
$color-green: #70e000;
$color-blue: #00bbf9;
$color-black: #03071e;