$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptopS: 1024px;
$laptopSM: 1279px;
$laptopM: 1335px;
$laptopL: 1439px;
$desktopS: 1599px;
$desktopM: 1919px;

@mixin desktopM {
  @media (max-width: $desktopM) {
    @content;
  }
}
@mixin desktopS {
    @media (max-width: $desktopS) {
      @content;
    }
}
@mixin laptopL {
    @media (max-width: $laptopL) {
      @content;
    }
}
@mixin laptopM {
    @media (max-width: $laptopM) {
      @content;
    }
}
@mixin laptopS {
  @media (max-width: $laptopS) {
    @content;
  }
}
@mixin ipadPro {
  @media (max-width: $laptopS) and (min-height: 1000px) {
    @content;
  }
  @media  (max-width: 1023px) and (min-height: 1px){
    @content;
  }
}
@mixin tablet {
    @media (max-width: 1023px) {
      @content;
    }
}

@mixin mobileL {
    @media (max-width: 767px) {
      @content;
    }
}
@mixin mobileM {
    @media (max-width: 424px) {
      @content;
    }
}
@mixin mobileS {
    @media (max-width: $desktopS) {
      @content;
    }
}
