.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../dist/images/background_account.jpg");
    background-size: 100% 100%;
    position: relative;
    overflow: auto;
    @media screen and (max-height: 500px) {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 30px;
    }
    &__item {
        width: 441px;
        padding: 5px 10px;
        border-radius: 20px;
        padding-bottom: 10px;
        box-shadow: 0 0 5px $color-black;
        @include laptopM {
            width: 360px;
            border-radius: 16px;
        }
        @include laptopS {
            border-radius: 10px;
        }
        @include ipadPro {
            width: 510px;
            border-radius: 20px;
        }
        @include mobileL {
            width: 389px;
            border-radius: 16px;
            padding: 6px 6px;
          
        }
        @include mobileM {
            width: 348px;
            border-radius: 13px;
            padding: 4px 5px;
        }
        @include mobileS {
            width: 310px;
            border-radius: 10px;
            padding: 3px 3px;
        }
    }
    &__title {
        text-align: center;
        font-size: 44px;
        letter-spacing: 0.25rem;
        word-spacing: 0.188rem;
        font-weight: 900;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #03071e;
        &-nick {
            color: #ffcd00;
        }
        &-delete {
            color: $color-red;
        }
        @include desktopS {
            font-size: 41px;
        }
        @include laptopL {
            font-size: 37px;
        }
        @include laptopS {
            font-size: 31px;
        }
        @include ipadPro {
            font-size: 44px;
        }
        @include mobileL {
            font-size: 31px;
        }
        @include mobileM {
            font-size: 29px;
        }
        @include mobileS {
            font-size: 24px;
        }
    }
    &__element {
        height: 66px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 21px;
        box-sizing: border-box;
        @include desktopS {
            margin-top: 16px;
            height: 59px;
        }
        @include laptopM {
            height: 47px;
            margin-top: 8px;
        }
        @include ipadPro {
            height: 66px;
        }
        @include tablet {
            height: 66px;
        }
        @include mobileL {
            height: 49px;
        }
        @include mobileS {
            height: 38px;
        }
    }
    &__elementIcon {
        height: 100%;
        width: 66px;
        border-radius: 80px;
        padding: 4px;
        background: $color-white;
        z-index: 1;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        @include desktopS {
            width: 59px;
        }
        @include laptopM {
            width: 47px;
            padding: 3px;
        }
        @include ipadPro {
            width: 66px;
        }
        @include mobileL {
            width: 49px;
        }
        @include mobileS {
            width: 38px;
        }
    }
    &__elementContent {
        width: 84%;
        height: 3.125rem;
        background: $color-white;
        transform: translateX(-15px);
        border-radius: 0 30px 30px 0;
        padding-left: 15px;
        z-index: 0;
        display: flex;
        align-items: center;
        border: none;
        font-size: 1.375rem;
        overflow: hidden;
        font-family: $fontFamily-kanit;
        outline: none;
        box-sizing: border-box;

        &::placeholder {
            font-size: 1.188rem;
        }
        &-email {
            &:focus {
                border: 4px solid #5f98d1;
                @include laptopM {
                    border: 3px solid #5f98d1;
                }
            }
        }
        &-password {
            &:focus {
                border: 4px solid #7343dd;
                @include laptopM {
                    border: 3px solid #7343dd;
                }
            }
        }
        @include laptopM {
            height: 31px;
        }
        @include ipadPro {
            height: 46px;
            padding-left: 17px;
        }
        @include mobileL {
            height: 34px;
            padding-left: 16px;
        }
        @include mobileS {
            height: 28px;
        }
    }
    &__msg {
        margin-top: 1rem;

        font-weight: 600;
        padding: 5px 0;
        font-size: 17px;
        text-align: center;
        letter-spacing: 0.125rem;
        word-spacing: 0.125rem;
        color: $color-white;
        border-radius: 50px;
        transform: scale(0%);
        animation: 0.5s an__account_scale forwards;
        &-error {
            background: $color-error;
        }
        &-success {
            background: $color-green;
        }
    }
    &__btn {
        width: 100%;
        color: $color-white;
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 40px;
        letter-spacing: 0.063rem;
        transition: 0.2s;
        padding: 0.313rem 0;
        border: none;

        &:hover {
            cursor: pointer;
            letter-spacing: 0.125rem;
        }
        &-update {
            background-color: $color-blue;
        }
        &-delete {
            background-color: $color-error;
        }
    }
    &__succcessfullUpdate {
        text-align: center;
        width: 100%;
        background-color: $color-green;
        color: $color-white;
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 40px;
        letter-spacing: 0.063rem;
        transition: 0.2s;
        padding: 0.313rem 0;
        border: none;
        transform: scale(0%);
        animation: 1s an__account_scale forwards;
    }
    &__deleteIcon {
        position: absolute;
        right: 20px;
        bottom: 20px;
        height: 70px;
        width: 70px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            &:hover {
                cursor: pointer;
            }
        }
        @include desktopS {
            right: 9px;
            bottom: 9px;
            height: 56px;
            width: 56px;
        }
        @include laptopL {
            right: 7px;
            bottom: 7px;
            height: 51px;
            width: 51px;
        }
        @include laptopS {
            right: 5px;
            bottom: 5px;
            height: 42px;
            width: 42px;
        }
        @include ipadPro {
            right: 15px;
            bottom: 14px;
            height: 63px;
            width: 63px;
        }
        @include mobileL {
            right: 10px;
            bottom: 10px;
            height: 46px;
            width: 46px;
        }
        @media screen and (max-height: 500px) {
            position: relative;
            right: auto;
            bottom: auto;
            margin-top: 25px;
        }
        @include mobileS {
            right: 6px;
            bottom: 6px;
            height: 37px;
            width: 38px;
        }
    }
    &__deleteCode {
        text-align: center;
        display: block;
        margin-top: 0.25rem;
        font-size: 1.438rem;
        font-weight: bold;
        letter-spacing: 0.125rem;
    }
}

@keyframes an__account_scale {
    100% {
        transform: scale(100%);
    }
}
