.auth {
    &__title {
        font-size: 61px;
        color: $color-green;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 30px;
        -webkit-text-stroke: 2px black;
        text-shadow: 4px 4px $color-black;
        z-index: 4;
        margin-bottom: 20px;
    }
    &__container {
        display: flex;
        justify-content: space-evenly;
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        width: 560px;
        border-radius: 28px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        transition: 0.4s;
        &-login {
            height: 500px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
    }
    &__itemTitle {
        font-size: 50px;
        color: $color-blue;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 7px;
        margin-bottom: 13px;
        -webkit-text-stroke: 2px black;
        text-shadow: 4px 4px $color-black;
        z-index: 4;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__inputWrapper {
        position: relative;
        width: 100%;
        height: 136px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            z-index: -1;
            top: -118px;
            left: 44px;
            width: 336px;
            height: 336px;
            transform: rotate(45deg);
            background-image: url("/images/form_sword.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        &-left {
            &:after {
                transform: rotate(225deg);
                left: 181px;
            }
        }
    }

    &__submitWrapper {
        position: relative;
        margin: 10px auto;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        button {
            border: none;
            background: none;
            text-shadow: 0.125rem 0.125rem #ffc473;
            color: #ffdba9;
            font-size: 1.25rem;
            font-weight: 900;
            letter-spacing: 0.125rem;
            transition: 0.3s;
            &:hover {
                letter-spacing: 0.25rem;         
                cursor: pointer;
                background: none;
            }
        }
        .tower {
            z-index: 2;
            width: 65px;
            height: 65px;
            background-image: url("/images/form_tower.png");
            background-size: cover;
        }
        .wall {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 260px;
            padding: 5px 0;
            left: 20px;
            background: #b7c1ca;
            box-shadow: 40px 4px #96a1a8 inset, -40px 4px #96a1a8 inset;
            transition: 0.3s;
            &:hover{
                box-shadow: 47px 4px #96a1a8 inset, -47px 4px #96a1a8 inset;
            }
        }
    }

    &__freepikAttribute {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__loading{
        display: none;
        width: 36px;
        height: 36px;
        animation: an__auth--loading 1s infinite;
        background-image: url("/images/form_loadingIcon.png");
        background-size: cover;
    }

}

.login__invalidData {
    color: $color-red;
    font-weight: 600;
    letter-spacing: 0.063rem;
    font-size: 17px;
    display: block;
    text-align: center;
}

.register {
    &__requirement {
        position: absolute;
        font-size: 0.813rem;
        top: 76px;
        left: 125px;
        color: $color-black;
    }
    &__error {
        position: absolute;
        font-size: 0.813rem;
        top: 76px;
        left: 129px;
        color: $color-red;
    }
}

.auth__inputWrapper {
    position: relative;
    label {
        position: absolute;
        z-index: 3;
        font-size: 0;
        top: 28px;
        left: 119px;
    }
    input {
        height: 38px;
        width: 270px;
        transition: 0.4s;
        background: none !important;
        font-size: 1.5rem;
        border: none;
        border-bottom: 5px solid $color-gold;
        outline: none;
        color: #404040;
        &::placeholder {
            color: inherit;
        }
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #a2abb8 inset;
    }
}

.auth__inputWrapper-left {
    label {
        left: 168px;
    }
    input {
        text-align: right;
    }
    .register__requirement {
        left: 33px;
    }
    .register__error {
        left: 250px;
    }
}

.recoverPassword{
    width: 184px;
    text-align: center;
    padding: 0.188rem;
    margin: 0 auto;
    font-size: 1.063rem;
    color: #4e5a61;
    transition: 0.2s;
    &:hover{
        letter-spacing: 0.063rem;
        cursor: pointer;
    }
}
#auth-resetPassword{
   display: none;
}
@keyframes an__auth--loading{
    100%{
        transform: rotate(360deg);
    }
}