.auth {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: url(../../images/summer_landscape.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    max-width: 100%;
    max-height: 100vh;
    min-width: 100%;
    min-height: 100vh;
    &__title {
        font-size: 61px;
        color: $color-green;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 30px;
        -webkit-text-stroke: 2px $color-black;
        text-shadow: 4px 4px $color-black;
        z-index: 4;
        margin-bottom: 20px;
        @include desktopS {
            font-size: 50px;
            padding-top: 8px;
            margin-bottom: 10px;
        }
        @include tablet {
            margin-bottom: 15px;
            margin-top: 10px;
        }
        @include mobileL {
            margin-top: 7px;
            font-size: 32px;
            -webkit-text-stroke: 1px $color-black;
            text-shadow: 2px 2px $color-black;
        }
        @include mobileM {
            margin-top: 3px;
            font-size: 26px;
        }
        @include mobileS {
            margin-top: 0px;
            font-size: 21px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-evenly;
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
        @include desktopS {
            width: 1336px;
        }
        @include laptopM {
            width: 1024px;
        }
        @include tablet {
            width: 100%;
        }
    }

    &__item {
        width: 583px;
        border-radius: 20px;
        padding: 10px;
        transition: 0.4s;
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 13px $color-black;
        &::after {
            content: "";
            position: absolute;
            background: inherit;
            z-index: -3;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
            filter: blur(10px);
        }
        &-login {
            height: 500px;
            @include desktopS {
                width: 524px;
            }
            @include tablet {
                display: none;
                height: 534px;
            }
            @include mobileL {
                height: 496px;
            }
            @include mobileM {
                height: 484px;
            }
            @include mobileS {
                height: 444px;
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
        @include desktopS {
            width: 514px;
        }
        @include laptopL {
            border-radius: 16px;
        }
        @include laptopM {
            width: 441px;
        }
        @include tablet {
            border: 6px solid $color-blue;
        }
        @include mobileL {
            border: 4px solid $color-blue;
            width: 398px;
            border-radius: 10px;
        }
        @include mobileM {
            width: 360px;
        }
        @include mobileS {
            width: 310px;
        }
    }
    &__itemTitle {
        font-size: 50px;
        color: $color-blue;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 7px;
        margin-bottom: 13px;
        -webkit-text-stroke: 2px black;
        text-shadow: 4px 4px $color-black;
        z-index: 4;
        @include desktopS {
            font-size: 45px;
            margin-bottom: 33px;
        }
        @include laptopM {
            font-size: 42px;
        }
        @include mobileL {
            font-size: 38px;
            -webkit-text-stroke: 1px $color-black;
            text-shadow: 2px 2px $color-black;
            margin-top: -13px;
            margin-bottom: 47px;
        }
        @include mobileM {
            font-size: 27px;
        }
        @include mobileS {
            font-size: 19px;
        }
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__inputWrapper {
        position: relative;
        width: 100%;
        height: 136px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            z-index: -1;
            top: -118px;
            left: 44px;
            width: 336px;
            height: 336px;
            transform: rotate(45deg);
            background-image: url(../../images/form_sword.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include desktopS {
                width: 268px;
                height: 268px;
                left: 44px;
            }
            @include laptopM {
                left: 41px;
            }
            @include tablet {
                left: 31px;
            }
            @include mobileL {
                width: 238px;
                height: 238px;
                left: 27px;
            }
            @include mobileS {
                width: 216px;
                height: 216px;
                left: 26px;
            }
        }

        &-left {
            &:after {
                transform: rotate(225deg);
                left: 181px;
                @include laptopM {
                    left: 110px;
                }
                @include mobileL {
                    left: 105px;
                }
                @include mobileM {
                    left: 67px;
                }
                @include mobileS {
                    left: 39px;
                }
            }
        }
        @include desktopS {
            height: 113px;
        }
        @include laptopL {
            height: 112px;
        }
        @include mobileS {
            height: 104px;
        }
    }

    &__submitWrapper {
        position: relative;
        margin: 10px auto;
        width: 377px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include mobileM {
            width: 100%;
        }
        button {
            border: none;
            background: none;
            text-shadow: 0.125rem 0.125rem #ffc473;
            width: 100%;
            height: 100%;
            color: #ffdba9;
            font-size: 1.25rem;
            font-weight: 900;
            letter-spacing: 0.125rem;
            transition: 0.3s;
            &:hover {
                letter-spacing: 0.25rem;
                cursor: pointer;
                background: none;
            }
        }
        .tower {
            z-index: 2;
            width: 65px;
            height: 65px;
            background-image: url(../../images/form_tower.png);
            background-size: cover;
            @include mobileM {
                width: 50px;
                height: 50px;
            }
        }
        .wall {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 335px;
            padding: 5px 0;
            left: 21px;
            background: #b7c1ca;
            box-shadow: 40px 4px #96a1a8 inset, -40px 4px #96a1a8 inset;
            transition: 0.3s;
            &:hover {
                box-shadow: 47px 4px #96a1a8 inset, -47px 4px #96a1a8 inset;
            }
            @include mobileM {
                width: 94%;
                left: 10px;
            }
        }
    }

    &__freepikAttribute {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__loading {
        display: none;
        width: 36px;
        height: 36px;
        animation: an__auth--loading 1s infinite;
        background-image: url(../../images/form_loadingIcon.png);
        background-size: cover;
        @include desktopS {
            width: 28px;
            height: 28px;
        }
        @include mobileM {
            width: 19px;
            height: 19px;
        }
    }
    &__switchBtn {
        display: none;
        margin-top: 20px;
        padding: 4px 0;
        text-align: center;
        color: $color-white;
        letter-spacing: 0.125rem;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        border-radius: 20px;
        background: $color-blue;
        @include tablet {
            display: block;
        }
        @include mobileL {
            margin-top: 10px;
            font-size: 17px;
        }
    }
}

.auth__notification {
    font-weight: 600;
    letter-spacing: 0.063rem;
    font-size: 17px;
    display: block;
    text-align: center;
    &-error {
        color: $color-red;
    }

    &-correct {
        color: $color-green;
    }
    @include laptopM {
        font-size: 15px;
    }
}

.register {
    &__requirement {
        position: absolute;
        font-size: 13px;
        top: 76px;
        left: 125px;
        color: $color-black;
        @include desktopS {
            font-size: 10px;
            top: 37px;
            left: 111px;
        }
        @include laptopM {
            left: 108px;
        }
        @include tablet {
            left: 97px;
        }
    }
    &__error {
        position: absolute;
        font-size: 13px;
        top: 76px;
        left: 129px;
        color: $color-red;
        @include desktopS {
            font-size: 10px;
            top: 35px;
            left: 111px;
        }
        @include laptopM {
            left: 108px;
        }
        @include tablet {
            left: 97px;
        }
    }
}

.auth__inputWrapper {
    position: relative;
    label {
        position: absolute;
        z-index: 3;
        font-size: 0;
        top: 28px;
        left: 119px;
        @include desktopS {
            top: 0;
            left: 104px;
        }
        @include laptopM {
            left: 101px;
        }
        @include tablet {
            left: 91px;
        }
        @include mobileL {
            top: -12px;
            left: 80px;
        }
        @include mobileS {
            top: -24px;
            left: 75px;
        }
    }
    input {
        height: 38px;
        width: 270px;
        transition: 0.4s;
        background: none !important;
        font-size: 1.5rem;
        border: none;
        border-bottom: 5px solid $color-gold;
        outline: none;
        color: #404040;
        &::placeholder {
            color: inherit;
        }
        @include desktopS {
            height: 30px;
            width: 217px;
            border-bottom: 3px solid $color-gold;
        }
        @include tablet {
            font-size: 16px;
        }
        @include mobileL {
            height: 26px;
            width: 191px;
            font-size: 14px;
        }
        @include mobileS {
            width: 175px;
            font-size: 13px;
        }
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #a2abb8 inset;
    }
}

.auth__inputWrapper-left {
    label {
        left: 172px;
        @include laptopM {
            left: 102px;
        }
        @include mobileL {
            left: 100px;
        }
        @include mobileM {
            left: 61px;
        }
        @include mobileS {
            left: 32px;
        }
    }
    input {
        text-align: right;
    }
    .register__requirement {
        left: 33px;
        @include desktopS {
            left: 74px;
        }
        @include laptopM {
            left: 5px;
        }
    }
    .register__error {
        left: 250px;
        @include laptopM {
            left: 175px;
        }
    }
}

.recoverPassword {
    text-align: center;
    padding: 0.188rem;
    margin: 0 auto;
    font-size: 1.063rem;
    color: #4e5a61;
    transition: 0.2s;
    font-weight: bold;
    letter-spacing: 0.125rem;
    @media screen and (min-width: 1024px) {
        &:hover {
            letter-spacing: 0.063rem;
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: #4e5a61;
        }
        @include tablet {
            text-decoration: underline;
            text-decoration-color: #4e5a61;
        }
    }

    @include tablet {
        margin: 12px auto;
    }
    @include mobileS {
        margin: 10px auto;
    }
}
#auth-resetPassword {
    display: none;
    height: 280px;
    padding: 30px 0;
    @include desktopS {
        height: 272px;
        padding: 46px 0;
    }
    @include tablet {
        height: 313px;
    }
    @include mobileM {
        height: 284px;
    }
    @include mobileS {
        padding-top: 57px;
    }

    .auth__inputWrapper::after {
        @include tablet {
            left: 41px;
        }
        @include mobileS {
            left: 36px;
        }
    }
    .auth__inputWrapper label {
        @include tablet {
            left: 101px;
        }
        @include mobileL {
            left: 94px;
        }
        @include mobileS {
            left: 85px;
        }
    }
}
@keyframes an__auth--loading {
    100% {
        transform: rotate(360deg);
    }
}

@include mobileL {
    .register__error,
    .register__requirement,
    #register__invalidData-repeatPassword {
        width: 100%;
        display: block;
        left: 0;
        top: 48px;
        font-size: 10px;
        text-align: center;
    }
}
@include mobileS {
    .register__error,
    .register__requirement,
    #register__invalidData-repeatPassword {
        top: 38px;
        font-size: 9px;
    }
}
