.blacksmith {
    display: flex;
    background-image: url('/images/background_blacksmith.jpg');
    background-size: 100% 100%;
    position: relative;
    overflow: auto;
     height: 100%;
     @include ipadPro {
         flex-direction: column-reverse;
     }
     @include tablet {
         flex-direction: column;

     }
    &::-webkit-scrollbar{
        width: 0;
    }
    &__item{
        overflow: auto;
        height: 100%;
        width: 50%;
        padding: 10px;
        z-index: 2;
        position: relative;
        &::-webkit-scrollbar{
            width: 0;
        }
        &:first-child {
            border-right: 6px solid $color-gray_dark;
            @include laptopL {
                border-right: 4px solid $color-gray_dark;
            }
            
        }
        &:last-child {
            @include ipadPro {
                overflow: hidden;
                flex-direction: row;
                height:1665px;
                padding-top: 45px;
                border-bottom: 10px solid $color-gray_dark;
            }
            @include tablet {
                padding-top: 0;
                overflow: auto;
                flex-direction: column;
                align-items: center;
                border-bottom: none;
                height: auto;
                justify-content: flex-start;
            }
        }
        @include laptopL {
            padding: 6px;
        }
        @include ipadPro {
            width: 768px;
            
            
        }
    }
    &__frame{
        background-image: url('/images/blacksmith_item_frame.png');
    }
  .profile__equipment{
      @include ipadPro {
          width: 50%;
      }
      @include tablet {
          width: 100%;
      }
  }
  .profile__backpack{
    @include ipadPro {
        width: 50%;
        justify-content: flex-start;
    }
    @include tablet {
        width: 100%;
    }
  }
  &__mobileTable{
      display: none;
      width: 366px;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
      margin-bottom: -54px;
      @include ipadPro {
          display: block;
      }
      @include tablet {
          display: none;
      }
  }
}
