.blacksmith {
    height: 100%;
    display: flex;
    background-image: url('/images/background_blacksmith.jpg');
    background-size: 100% 100%;
    position: relative;

    &__item{
        width: 50%;
        height: 100%;
        padding: 10px;
        z-index: 2;
        position: relative;
        &:first-child {
            border-right: 6px solid $color-gray_dark;
            @include laptopL {
                border-right: 4px solid $color-gray_dark;
            }
        }
        @include laptopL {
            padding: 6px;
        }
    }
    &__frame{
        background-image: url('/images/blacksmith_item_frame.png');
    }
  
}
