.chat {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;

    &__topBar {
        padding: 3px 0;
        height: 37px;
        width: 100%;
        border-bottom: 4px solid $color-blue;
        background: $color-gray_dark;
        display: flex;
        @include desktopS {
            height: 30px;
            border-bottom: 3px solid $color-blue;
        }
    }
    &__friendNick {
        font-size: 1.375rem;
        font-weight: 600;
        color: $color-white;
        letter-spacing: 0.125rem;
        margin-left: 0.75rem;
    }
    &__portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        &-small {
            height: 100%;
            img {
                margin-left: 17px;
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__content {
        padding-top: 10px;
        height: calc(100% - 84px);
        overflow: auto;
        border-left: 2px solid  $color-gray-dark;
        border-right:  2px solid $color-gray-dark;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-gold;
        }
        @include desktopS {
            height: calc(100% - 67px);
        }
    }
    &__botBar {
        position: relative;
        background: $color-gray_dark;
        display: flex;
        height: 47px;
        border-top: 4px solid $color-blue;
        @include desktopS {
            border-radius: 0 0  12px 12px;
            height: 40px;
            border-top: 3px solid $color-blue;
        }
    }
    &__emojiIcon {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 4px solid $color-blue;
        img {
            width: auto;
            height: 90%;
            object-fit: cover;
            &:hover {
                cursor: pointer;
            }
            @include laptopL {
                height: 75%;
            }
        }
    }
    &__form {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__textIcon {
        margin-left: 17px;
        height: 90%;
        width: auto;
        object-fit: cover;
        z-index: 1;
    }
    &__messageWrapper {
        margin-left: -19px;
        width: 80%;
        height: 70%;
        position: relative;
        border-radius: 0 20px 20px 0;
        @include desktopM {
            width: 74%;
        }
    }
    &__message {
        background: $color-white;
        border-radius: 20px;
        outline: none;
        font-family: $fontFamily-kanit;
        font-weight: 600;
        height: 100%;
        width: 101%;
        font-size: 1.188rem;
        letter-spacing: 0.063rem;
        line-height: 18px;
        display: block;
        overflow: hidden;
        resize: none;
        position: absolute;
        bottom: 0;
        max-height: 400px;
        padding: 5px 19px;
        border: 2px solid $color-gray_dark;

        img {
            display: inline-block;
            width: 1.188rem;
            height: 1.188rem;
            object-fit: cover;
            transform: translateY(0.188rem);
        }
        &:hover {
            min-height: 100%;
            height: auto;
        }
    }
    &__btn {
        height: 27px;
        background: $color-blue;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        color: $color-white;
        letter-spacing: 0.063rem;
        transition: 0.2s;
        margin-left: -19px;
        padding-left: 25px;
        &:hover {
            cursor: pointer;
            letter-spacing: 0.125rem;
        }
        &:focus {
            letter-spacing: 0.125rem;
        }
        
    }
    &__emojiContainer {
        z-index: 2;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        transform: translateY(-100%);
        backdrop-filter: blur(4px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        img {
            width: auto;
            margin: 0.375rem;
            height: 1.75rem;
            object-fit: cover;
        }
    }
}
.message {
    margin-top: 0.5rem;
    display: flex;
    padding: 2px 10px;
    &__portraitWrapper {
        width: 10%;
    }
    &__portrait {
         width:  100%;
        height: 72px;
        border: 3px solid $color-gray_dark;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: auto;
            width: 71%;
            object-fit: cover;
        }
        @include desktopM {
            height: 59px;
        }
        @include desktopS {
            height: 52px;
        }
    }
    &__date {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.063rem;
        text-align: center;
    }
    &__content {
        width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        .message__message__cloud:first-child {
          margin-top: 0;
        }
        &-friend {
            padding-left: 7px;
            align-items: flex-start;
        }
        &-user {
            padding-right: 7px;
            align-items: flex-end;
        }
        strong{
            font-size: 1.4em;
        };
        @include desktopS{
            font-size: 8px;
        }
    }
    &__nick {
        font-size: 1.7em;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
    &__cloud {
        max-width: 70%;
        letter-spacing: 0.1em;
        word-spacing: 0.1em;
        padding: 0.6em;
        margin-bottom: 0.4em;
        font-size: 1.8em;
        word-wrap:break-word;
        div{
            display: inline;
        }
        img{
            width: 1.125rem;
            height: 1.125rem;
            object-fit: cover;
        }
        &-friend {
            border-radius: 0 1.375rem 1.375rem 1.375rem;
            color: $color-black;
            background:$color-white ;
        }
        &-user {
            border-radius: 1.375rem 0 1.375rem 1.375rem;
            color: $color-white;
            background: $color-blue;
        }
    }
    &__time {
        text-align: center;
        font-size: 1.313rem;
        padding-bottom: 0.188rem;
        border-bottom: 2px solid $color-gray_light;
    }
}
