.fight {
    height: 100%;
    background-image: url("/images/background_monster_fight.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    &__container {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        display: none;
    }

    &__characterWrapper {
        width: 400px;
        padding: 10px;
        z-index: 0;

        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: relative;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        align-items: center;
        &-user {

        }
        &-monster{
            position: relative;
        }
    }
    &__characterImg {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 15px;
    }
    &__healthBar {
        width: 100%;
        height: 42px;
        border: 6px solid $color-gray_dark;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__healthPoints {
        display: block;
        font-weight: bold;
        font-size: 1.75rem;
        font-style: italic;
        letter-spacing: 0.125rem;
        color: $color-white;
    }
    &__health {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20px;
        background: $color-green;
    }
    &__statsTable {
        width: 100%;
        border-spacing: 0;
        margin-top: 15px;
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            font-weight: bold;
            font-size: 1.438rem;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            td {
                padding-bottom: 0.313rem;
            }
            td:first-child {
                vertical-align: top;
                white-space: nowrap;
            }
        }
    }
    &__weaponWrapper {
        z-index: 10;
        position: absolute;
        top: 150px;
        left: 245px;
        width: 200px;
        height: 200px;
        transform: scale(0);
        &-an{
           animation: 1.5s an__sword_attack forwards;
        }
       
    }
    &__explosion {
        transform: scale(0);
        position: absolute;
        z-index: 2;
        width: 80%;
        height: auto;
        object-fit: cover;
        &-an{
            animation: 0.5s 1s  an__attack_explosion forwards, 0.5s 1.5s  an__attack_explosion_shrink  forwards; 
        }
       
    }
    &__sword {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        &-an{
            animation: 0.5s 1s an__sword_attack_shrink forwards;
        }
    }


    &__summaryWrapper{
        width: 100%;
  
    }
    &__summary{
        margin: 0 auto;
        border: 5px solid $color-gold;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: relative;
        backdrop-filter: blur(2px);
        padding: 10px;
        transition: 0.3s;
        &:hover{
            backdrop-filter: blur(4px);
        }
        
    }
    &__summaryTitle{
      font-size: 1.125rem;
      font-weight: bold;
      letter-spacing: 0.063rem;
      word-spacing: 0.125rem;
      color: $color-white;
      text-align: center;
    }
    &__summaryPayout{
        margin: 10px 0;
        div{
            display: flex;
            align-items: center;
            margin-bottom: 0.438rem;
        }
        img{
            width: 2rem;
            height: auto;
            object-fit: cover;
            margin-right: 0.5rem;
        }
        strong{
            font-weight: 600;
            font-size: 1.125rem;
            
        }
    }
    &__summaryBtn{
        width: 100%;
        font-size: 1.25rem;
        color: $color-white;
        font-weight: bold;
        border-radius: 0.625rem;
        padding: 0.313rem 0;
        border: none;
        outline: none;
        transition: 0.2s;
        &-green{
            background: $color-green;
        }
        &-red{
            background: $color-red;
        }
        &:focus, &:hover{
            cursor: pointer;
            letter-spacing: 0.125rem;
        }
    }
    &__failed{
        font-size: 2.063rem;
        margin-bottom: 0.688rem;
        font-weight: bold;
        letter-spacing: 0.063rem;
        word-spacing: 0.125rem;
        text-shadow: 0.125rem 0.125rem $color-red;  
    }
}











.monster{
    &-an{
        animation: 0.8s an__monster_attack forwards;
    }
    &__explosionWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24%;
        left: -200px;
        width: 200px;
        height: 200px;
    }
    &__explosionImg{
        width: 70%;
        height: auto;
        object-fit: cover;
        transform: scale(0%);
        &-an{
            animation: 1s 0.8s an__monster_explosion_grow ;
        }
        
    }
}
@keyframes an__monster_attack {
    100%{
        transform: translateX(-630px);
    }
}
@keyframes an__monster_explosion_grow {
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(0%);
    }
}



@keyframes an__sword_attack {
    30%{
        transform: scale(50%);
    }
    100% {
        transform: translate(830px, 0%)  scale(100%);
    }
}
@keyframes an__attack_explosion {
    100% {
        transform:  scale(130%);
    }
}
@keyframes an__attack_explosion_shrink {
    100% {
        transform:  scale(0%);
    }
}
@keyframes an__sword_attack_shrink {
    100% {
        transform:  scale(0%);
    }
}