.friends {
    height: 100%;
    background-image: url("/images/background_friends.jpg");
    background-size: 100% 100%;
    display: flex;
    .searchFriend__input {
        @include desktopS {
            width: 353px;
        }
        @include desktopS {
            width: 290px;
        }
        @include laptopS {
            width: 222px;
        }
        @include ipadPro {
            width: 305px;
        }
    }
    .searchFriend__searchIcon {
        @include ipadPro {
            margin-left: -27px;
        }
    }
    &__itemWrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-grow: 1;
        &:last-child {
            background: rgba(255, 255, 255, 0.4);
            padding: 10px;
            backdrop-filter: blur(8px);
        }
    }
    &__topBar {
        height: 47px;
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px;
        @include desktopS {
            height: 40px;
            padding: 6px;
        }
        @include laptopM {
            height: 33px;
        }
        @include laptopS {
            height: 27px;
            padding: 4px;
        }
        @include ipadPro {
            height: 45px;
            padding: 5px;
        }
    }
    &__searchWrapper {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
    }
    &__searchIcon {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    &__searchInput {
        width: 250px;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 3px solid $color-gold;
        margin-left: 3px;
        outline: none;
        border-radius: 50px;
        padding-left: 10px;
        font-size: 1.563rem;
        font-weight: 600;
        font-family: $fontFamily-kanit;
        &:focus {
            background: rgba(255, 255, 255, 0.5);
            border: 3px solid $color-red;
        }
    }

    &__settingsWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin-right: 53px;
        position: relative;
        @include laptopS {
            margin-right: -4px;
        }
    }
    &__settingsIcon {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin-right: 10px;
        &:hover {
            cursor: pointer;
        }
        @include laptopS {
            margin-right: 6px;
        }
        @include ipadPro {
            margin-right: 14px;
        }
    }
    &__settingsTitle {
        letter-spacing: 0.125rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 0.5rem;
    }
    &__settingsForm {
        position: absolute;
        top: 60px;
        right: 63px;
        width: 314px;
        padding: 13px;
        box-sizing: border-box;
        border-radius: 10px;
        background: $color-gray-dark;
        border: 3px solid #e80054;
        z-index: 3;

        &:last-child {
            @include laptopS {
                width: 232px;
                border: 2px solid #ffdc00;
                right: 14px;
            }
            @include ipadPro {
                width: 354px;
                border: 3px solid #ffdc00;
                right: 28px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 31px;
            height: 31px;
            transform: rotate(45deg);
            background: #e80054;
            top: -20px;
            right: -20px;
            border: 3px solid $color-gray-dark;
            z-index: 2;
            @include desktopM {
                width: 26px;
                height: 26px;
                top: -18px;
                right: -18px;
            }
            @include desktopM {
                width: 21px;
                height: 21px;
                top: -15px;
                right: -15px;
            }
            @include laptopM {
                width: 17px;
                height: 17px;
                top: -13px;
                right: -13px;
            }
            @include laptopS {
                border: 2px solid $color-gray-dark;
                width: 14px;
                height: 14px;
                top: -10px;
                right: -10px;
            }
            @include ipadPro {
                border: 3px solid $color-gray-dark;
                width: 19px;
                height: 19px;
                top: -13px;
                right: -13px;
            }
        }

        &-filter {
            right: 25px;
            border: 3px solid #ffdc00;
            width: 378px;
            &::after {
                background: #ffdc00;
            }
            @include desktopS {
                top: 55px;
                right: 24px;
            }
            @include laptopL {
                width: 287px;
            }
            @include laptopM {
                top: 47px;
                right: 20px;
            }
            @include laptopS {
                border: 2px solid #ffdc00;
            }
        }
        @include desktopS {
            top: 55px;
            right: 62px;
        }
        @include laptopL {
            width: 209px;
            padding: 6px;
        }
        @include laptopM {
            top: 49px;
            right: 48px;
        }

        @include desktopM {
            padding: 9px;
        }
        @include laptopS {
            width: 159px;
            padding: 5px;
            top: 38px;
            right: 39px;
            border: 2px solid #e80054;
        }
        @include ipadPro {
            width: 245px;
            padding: 5px;
            top: 57px;
            right: 79px;
            border: 3px solid #e80054;
        }
    }
    &__list {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        padding: 22px 0;
        height: calc(100% - 47px);
        overflow: auto;

        align-content: flex-start; /* NEW */
        &::-webkit-scrollbar {
            width: 0;
        }
        @include desktopS {
            height: calc(100% - 40px);
            padding: 10px 0;
        }
        @include laptopL {
            padding: 7px 0;
        }
        @include laptopS {
            height: calc(100% - 27px);
            padding: 3px 0;
        }
        @include ipadPro {
            height: calc(100% - 45px);
        }
    }
    &__item {
        width: 25%;
        border-radius: 10px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        height: 422px;
        &-active {
            width: 50%;
        }
        @include desktopM {
            height: 365px;
        }
        @include desktopS {
            height: 330px;
        }
        @include laptopL {
            height: 280px;
        }
        @include laptopM {
            height: 240px;
        }
        @include laptopS {
            height: 280px;
        }
        @include ipadPro {
            height: 325px;
        }
    }
}

.friend {
    width: 80%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding-top: 10px;
    transition: 0.2s;
    overflow: hidden;
    @include laptopL {
        padding-top: 7px;
    }
    @include laptopM {
        width: 90%;
    }
    &:hover {
        backdrop-filter: blur(4px);
    }
    &__portraitWrapper {
        z-index: 3;
        width: 100%;
        height: 303px;
        background-image: url("/images/friends_frame_friend.png");
        background-size: 113% 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include desktopM {
            height: 255px;
        }
        @include desktopS {
            height: 224px;
        }
        @include laptopL {
            height: 190px;
        }
        @include laptopM {
            height: 160px;
        }
        @include laptopS {
            height: 193px;
        }
        @include ipadPro {
            height: 216px;
        }
    }
    &__portrait {
        width: 50%;
        margin-bottom: 44px;
        height: auto;
        object-fit: cover;
        @include desktopM {
            margin-bottom: 37px;
        }
        @include desktopS {
            margin-bottom: 32px;
        }
        @include laptopL {
            margin-bottom: 27px;
        }
        @include laptopM {
            margin-bottom: 23px;
            width: 46%;
        }
        @include laptopS {
            margin-bottom: 28px;
            width: 52%;
        }
    }
    &__name {
        margin-top: 6px;
        text-align: center;
        background: $color-gold;
        font-size: 1.375rem;
        padding: 0.375rem 0;
        color: $color-white;
        @include desktopM {
            padding: 0.25rem 0;
        }
        @include laptopM {
            margin-top: 2px;
        }
        @include laptopS {
            margin-top: 6px;
        }
        @include ipadPro {
            margin-top: 9px;
        }
    }
    &__levelWrapper {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }
    &__actionBar {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 50px;
        background: $color-gray-dark;
        padding: 5px;
        font-size: 1.563rem;
        @include desktopM {
            height: 45px;
            font-size: 1.375rem;
        }
        @include laptopL {
            height: 36px;
            padding: 2px 0;
        }
        @include laptopM {
            height: 30px;
        }
        @include laptopS {
            height: 36px;
        }
        @include ipadPro {
            height: 42px;
        }
    }
    &__actionBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        color: $color-white;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            letter-spacing: 0.125rem;
        }
        &-profile {
            text-shadow: 0.125rem 0.125rem #e80054;
            @include laptopL {
                //  text-shadow: 0.065rem 0.065rem #e80054;
            }
        }
        &-chat {
            text-shadow: 0.125rem 0.125rem #fdd33a;
            @include laptopL {
                // text-shadow:  0.125rem 0.095rem #fdd33a;
            }
        }
    }
    &__icon {
        height: 35px;
        width: auto;
        object-fit: cover;
        margin-right: 5px;

        @include desktopM {
            height: 32px;
        }
        @include laptopL {
            height: 27px;
        }
        @include laptopM {
            height: 22px;
        }
        @include laptopS {
            height: 27px;
        }
        @include ipadPro {
            height: 31px;
        }
    }
}

.friends__checkboxWrapper {
    height: 34px;
    color: $color-white;
    &:hover {
        text-decoration: underline;
    }
    label {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.375rem;
        padding-left: 2.563rem;
        @include desktopM {
            padding-left: 2.313rem;
        }
    }
    span {
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 20px;
        border: 0.25rem solid $color-white;
        position: absolute;
        left: 0;
    }
    i {
        position: absolute;
        left: 0.375rem;
        font-size: 0;
        font-size: 1.25rem;
        transform: scale(0%);
    }
    input {
        appearance: none;
    }
    input:checked ~ i {
        animation: 0.3s 0.3s an__friends_checkbox_check forwards;
    }
    @include laptopS {
        height: 24px;
    }
    @include ipadPro {
        height: 34px;
    }
}
#friends_branch {
    border-left: 6px solid $color-gray-dark;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    @include desktopM {
        border-left: 4px solid $color-gray-dark;
    }
    @include ipadPro {
        border-left: 10px solid $color-gray-dark;
    }
}

.friends__checkboxWrapper-highestLevel {
    &:hover {
        text-decoration-color: #ff006e;
    }
    input:checked ~ span {
        animation: 0.3s an__friends_checkbox_pink forwards;
    }
}
.friends__checkboxWrapper-LowestLevel {
    &:hover {
        text-decoration-color: #ffbe0b;
    }
    input:checked ~ span {
        animation: 0.3s an__friends_checkbox_yellow forwards;
    }
}
.friends__checkboxWrapper-highestGold {
    &:hover {
        text-decoration-color: #fb5607;
    }
    input:checked ~ span {
        animation: 0.3s an__friends_checkbox_orange forwards;
    }
}
.friends__checkboxWrapper-LowestGold {
    &:hover {
        text-decoration-color: #8338ec;
    }
    input:checked ~ span {
        animation: 0.3s an__friends_checkbox_purple forwards;
    }
}
.friends__checkboxWrapper-timePlayed {
    &:hover {
        text-decoration-color: #3a86ff;
    }
    input:checked ~ span {
        animation: 0.3s an__friends_checkbox_blue forwards;
    }
}

@keyframes an__friends_checkbox_check {
    100% {
        transform: scale(100%);
    }
}
@keyframes an__friends_checkbox_pink {
    100% {
        box-shadow: 0 0 0 24px #ff006e inset;
        border: 3px solid #ff006e;
    }
}
@keyframes an__friends_checkbox_yellow {
    100% {
        box-shadow: 0 0 0 24px #ffbe0b inset;
        border: 3px solid #ffbe0b;
    }
}
@keyframes an__friends_checkbox_orange {
    100% {
        box-shadow: 0 0 0 24px #fb5607 inset;
        border: 3px solid #fb5607;
    }
}
@keyframes an__friends_checkbox_purple {
    100% {
        box-shadow: 0 0 0 24px #8338ec inset;
        border: 3px solid #8338ec;
    }
}
@keyframes an__friends_checkbox_blue {
    100% {
        box-shadow: 0 0 0 24px #3a86ff inset;
        border: 3px solid #3a86ff;
    }
}
