.game__root {
    max-width: 1980px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

#game__view {
    overflow: hidden;
    height: 900px;
    width: 80vw;
    height: 100%;
}
.game__errorWrapper{
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 50px;
    background-color: $color-red;
}
.game__section{
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 100% 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    &::after {
        content: "";
        z-index: 0;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        top: 0;
        left: 0;
    }
}
