.profile__backpackLabel {
    &-1 {
        transform: translate(-1px, -9px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(-1px, -11px);
        }
    }
    &-2 {
        transform: translate(151px, -9px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(114px, -11px);
        }
        @include desktopS {
            transform: translate(100px, -11px);
        }
        @include laptopM {
            transform: translate(92px, -11px);
        }
        @include laptopS {
            transform: translate(72px, -11px);
        }
    }
    &-3 {
        transform: translate(215px, -9px);
        &::after {
            left: calc(50% - 15px);
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            @include laptopS {
                left: calc(50% - 10px);
            }
        }
        @include desktopM {
            transform: translate(153px, -11px);
        }
        @include desktopS {
            transform: translate(120px, -11px);
        }
        @include laptopL {
            transform: translate(142px, -11px);
        }
        @include laptopM {
            transform: translate(133px, -11px);
        }
        @include laptopS {
            transform: translate(98px, -11px);
        }
    }
    &-4 {
        transform: translate(262px, -9px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(186px, -11px);
        }
        @include desktopS {
            transform: translate(137px, -11px);
        }
        @include laptopL {
            transform: translate(179px, -11px);
        }
        @include laptopM {
            transform: translate(167px, -11px);
        }
        @include laptopS {
            transform: translate(124px, -11px);
        }
    }
    &-5 {
        transform: translate(411px, -9px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(300px, -11px);
        }
        @include desktopS {
            transform: translate(236px, -11px);
        }
        @include laptopL {
            transform: translate(275px, -11px);
        }
        @include laptopM {
            transform: translate(253px, -11px);
        }
        @include laptopS {
            transform: translate(193px, -11px);
        }
    }

    &-6 {
        transform: translate(-1px, 134px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(-1px, 110px);
        }
        @include desktopS {
            transform: translate(-1px, 95px);
        }
        @include laptopL {
            transform: translate(-1px, 90px);
        }
        @include laptopM {
            transform: translate(-1px, 85px);
        }
        @include desktopM {
            transform: translate(-1px, 65px);
        }
    }
    &-7 {
        transform: translate(151px, 134px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(114px, 110px);
        }
        @include desktopS {
            transform: translate(100px, 95px);
        }
        @include laptopL {
            transform: translate(100px, 90px);
        }
        @include laptopM {
            transform: translate(92px, 85px);
        }
        @include laptopS {
            transform: translate(72px, 65px);
        }
    }
    &-8 {
        transform: translate(215px, 134px);
        &::after {
            left: calc(50% - 15px);
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            @include laptopS {
                left: calc(50% - 10px);
            }
        }
        @include desktopM {
            transform: translate(153px, 110px);
        }
        @include desktopS {
            transform: translate(120px, 95px);
        }
        @include laptopL {
            transform: translate(142px, 90px);
        }
        @include laptopM {
            transform: translate(133px, 85px);
        }
        @include laptopS {
            transform: translate(98px, 65px);
        }
    }
    &-9 {
        transform: translate(262px, 134px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(186px, 110px);
        }
        @include desktopS {
            transform: translate(137px, 95px);
        }
        @include laptopL {
            transform: translate(179px, 90px);
        }
        @include laptopM {
            transform: translate(167px, 85px);
        }
        @include laptopS {
            transform: translate(124px, 65px);
        }
    }
    &-10 {
        transform: translate(411px, 134px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(300px, 110px);
        }
        @include desktopS {
            transform: translate(236px, 95px);
        }
        @include laptopL {
            transform: translate(275px, 90px);
        }
        @include laptopM {
            transform: translate(253px, 85px);
        }
        @include laptopS {
            transform: translate(193px, 65px);
        }
    }

    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10 {
        &::after {
            @include laptopL {
                top: -23px;
            }
            @include laptopS {
                top: -17px;
            }
        }
    }
}
.potion__label {
    padding: 10px;
    border-radius: 18px;
    width: 280px;
    background-color: $color-gray_dark;
    position: absolute;

    &-1 {
        transform: translate(258px, -100%);
        @include desktopM {
            transform: translate(170px, -100%);
        }
        @include desktopS {
            transform: translate(125px, -100%);
        }
        @include laptopL {
            transform: translate(155px, -100%);
        }
        @include laptopM {
            transform: translate(140px, -100%);
        }

        @include laptopS {
            transform: translate(117px, -100%);
        }
        @include ipadPro {
            transform: translate(33px, -96%);
        }
        @include tablet {
            transform: translate(204px, -92%);
        }
        @include mobileL {
            transform: translate(96px, -92%);
        }
        @include mobileM {
            transform: translate(65px, 86px);
        }
    }
    &-2 {
        transform: translate(454px, -100%);
        @include desktopM {
            transform: translate(325px, -100%);
        }
        @include desktopS {
            transform: translate(264px, -100%);
        }
        @include laptopL {
            transform: translate(284px, -100%);
        }
        @include laptopM {
            transform: translate(264px, -100%);
        }
        @include laptopS {
            transform: translate(217px, -100%);
        }
        @include ipadPro {
            transform: translate(160px, -96%);
        }
        @include tablet {
            transform: translate(402px, -92%);
        }
        @include mobileL {
            transform: translate(199px, -92%);
        }
        @include mobileM {
            transform: translate(155px, 86px);
        }
    }
    &::after {
        width: 30px;
        height: 30px;
        content: "";
        bottom: -30px;
        position: absolute;
        display: block;
        background: $color-gray_dark;
        right: 28px;
        bottom: -26px;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        @include laptopL {
            width: 24px;
            height: 24px;
            bottom: -23px;
        }
        @include laptopS {
            width: 18px;
            height: 18px;
            bottom: -16px;
        }
        @include mobileM {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            top: -16px;
        }
    }
    @include laptopL {
        width: 225px;
        padding: 6px;
        border-radius: 16px;
    }
    @include laptopS {
        width: 180px;
        padding: 4px;
        border-radius: 10px;
    }
    @include ipadPro {
        width: 336px;
        padding: 10px;
        border-radius: 20px;
    }
    @include mobileL {
        width: 214px;
        padding: 6px;
        border-radius: 16px;
    }
    @include mobileL {
        width: 208px;
        padding: 3px;
        border-radius: 13px;
    }
}

.profile__itemSpecs {
    &-backpackSlot1 {
        transform: translate(-1px, -100%);
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }
    &-backpackSlot2 {
        transform: translate(151px, -96%);
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(114px, -96%);
        }
        @include desktopS {
            transform: translate(100px, -96%);
        }
        @include laptopM {
            transform: translate(92px, -96%);
        }
        @include laptopS {
            transform: translate(72px, -96%);
        }
    }
    &-backpackSlot3 {
        transform: translate(215px, -96%);
        &::after {
            left: 140px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(153px, -96%);
        }
        @include desktopS {
            transform: translate(120px, -96%);
        }
        @include laptopL {
            transform: translate(142px, -96%);
        }
        @include laptopM {
            transform: translate(133px, -96%);
        }
        @include laptopS {
            transform: translate(98px, -96%);
        }
    }
    &-backpackSlot4 {
        transform: translate(260px, -96%);
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(186px, -96%);
        }
        @include desktopS {
            transform: translate(137px, -96%);
        }
        @include laptopL {
            transform: translate(179px, -96%);
        }
        @include laptopM {
            transform: translate(167px, -96%);
        }
        @include laptopS {
            transform: translate(124px, -96%);
        }
    }
    &-backpackSlot5 {
        transform: translate(414px, -96%);
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(300px, -96%);
        }
        @include desktopS {
            transform: translate(236px, -96%);
        }
        @include laptopL {
            transform: translate(275px, -96%);
        }
        @include laptopM {
            transform: translate(253px, -96%);
        }
        @include laptopS {
            transform: translate(193px, -96%);
        }
    }

    &-backpackSlot6 {
        transform: translate(-1px, -100%);
        margin-top: 160px;
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(-1px, -100%);
        }
        @include desktopS {
            transform: translate(-1px, -100%);
        }
        @include laptopL {
            transform: translate(-1px, -100%);
        }
        @include laptopM {
            transform: translate(-1px, -100%);
        }
        @include desktopM {
            transform: translate(-1px, -100%);
        }
    }
    &-backpackSlot7 {
        transform: translate(151px, -100%);
        margin-top: 160px;
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
        @include desktopM {
            transform: translate(114px, -100%);
        }
        @include desktopS {
            transform: translate(100px, -100%);
        }
        @include laptopL {
            transform: translate(100px, -100%);
        }
        @include laptopM {
            transform: translate(92px, -100%);
        }
        @include laptopS {
            transform: translate(72px, -100%);
        }
    }
    &-backpackSlot8 {
        transform: translate(215px, -100%);
        margin-top: 160px;
        &::after {
            left: 154px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
        @include desktopM {
            transform: translate(153px, -100%);
        }
        @include desktopS {
            transform: translate(120px, -100%);
        }
        @include laptopL {
            transform: translate(142px, -100%);
        }
        @include laptopM {
            transform: translate(133px, -100%);
        }
        @include laptopS {
            transform: translate(98px, -100%);
        }
    }
    &-backpackSlot9 {
        transform: translate(260px, -100%);
        margin-top: 160px;
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
        @include desktopM {
            transform: translate(186px, -100%);
        }
        @include desktopS {
            transform: translate(137px, -100%);
        }
        @include laptopL {
            transform: translate(179px, -100%);
        }
        @include laptopM {
            transform: translate(167px, -100%);
        }
        @include laptopS {
            transform: translate(124px, -100%);
        }
    }
    &-backpackSlot10 {
        transform: translate(414px, -100%);
        margin-top: 160px;
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
        @include desktopM {
            transform: translate(300px, -100%);
        }
        @include desktopS {
            transform: translate(236px, -100%);
        }
        @include laptopL {
            transform: translate(275px, -100%);
        }
        @include laptopM {
            transform: translate(253px, -100%);
        }
        @include laptopS {
            transform: translate(193px, -100%);
        }
    }
}
.profile__itemSpecs {
    &-backpackSlot6,
    &-backpackSlot7,
    &-backpackSlot8,
    &-backpackSlot9,
    &-backpackSlot10 {
        @include desktopM {
            margin-top: 134px;
        }
        @include desktopS {
            margin-top: 125px;
        }
        @include laptopL {
            margin-top: 114px;
        }
        @include laptopM {
            margin-top: 110px;
        }
        @include laptopS {
            margin-top: 86px;
        }
    }
    &-backpackSlot1,
    &-backpackSlot2,
    &-backpackSlot3,
    &-backpackSlot4,
    &-backpackSlot5,
    &-backpackSlot6,
    &-backpackSlot7,
    &-backpackSlot8,
    &-backpackSlot9,
    &-backpackSlot10 {
        @include laptopL {
            &::after {
                bottom: -22px;
            }
        }
        @include laptopS {
            &::after {
                bottom: -17px;
            }
        }
    }
}

#searched_user_root,
#friends_branch {
    padding: 10px;
    .profile__description {
        z-index: 0;
    }
    .potion__label-1 {
        transform: translate(156px, -100%);
        @include desktopM {
            transform: translate(91px, -100%);
        }
        @include desktopS {
            transform: translate(57px, -100%);
        }
        @include laptopL {
            transform: translate(88px, -100%);
        }
        @include laptopM {
            transform: translate(77px, -100%);
        }
        @include laptopS {
            transform: translate(73px, -100%);
        }
        @include ipadPro {
            transform: translate(-5px, -92%);
        }
        @include tablet {
            transform: translate(101px, -92%);
        }
        @include mobileL {
            transform: translate(45px, -92%);
        }
    }
    .potion__label-2 {
        @include laptopL {
            transform: translate(267px, -100%);
        }
        @include laptopM {
            transform: translate(252px, -100%);
        }
        @include laptopS {
            transform: translate(200px, -100%);
        }
        @include ipadPro {
            transform: translate(167px, -92%);
        }
        @include tablet {
            transform: translate(405px, -92%);
        }
        @include mobileL {
            transform: translate(183px, -92%);
        }
    }
    .profile__portraitImg {
        @include desktopM {
            margin-top: 25px;
        }
        @include desktopS {
            margin-top: 45px;
        }
        @include laptopL {
            margin-top: 29px;
        }
        @include laptopM {
            margin-top: 35px;
        }
        @include laptopS {
            margin-top: 32px;
        }
        @include tablet {
            margin-top: 70px;
        }
        @include mobileL {
            margin-top: 65px;
        }
        @include tablet {
            transform: translate(405px, -92%);
        }
    }
    @include laptopL {
        padding: 6px;
    }

    .potion__label-2,
    .potion__label-1 {
        @include ipadPro {
            padding: 10px;
            border-radius: 20px;
        }
        @include mobileL {
            border-radius: 16px;
        }
    }
}

// profile backpack -> ipad pro
@include ipadPro {
    .profile__backpackLabel {
        &-1 {
            transform: translate(3px, -10px);
        }
        &-2 {
            transform: translate(98px, -10px);
        }
        &-3 {
            transform: translate(103px, -10px);
        }
        &-4 {
            transform: translate(112px, -10px);
        }
        &-5 {
            transform: translate(200px, -10px);
        }

        &-6 {
            transform: translate(3px, 75px);
        }
        &-7 {
            transform: translate(98px, 75px);
        }
        &-8 {
            transform: translate(103px, 75px);
        }
        &-9 {
            transform: translate(112px, 75px);
        }
        &-10 {
            transform: translate(200px, 75px);
        }
    }
}
// blacksmith backpack -> ipad pro
@include ipadPro {
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1 {
            &::after {
                left: 28px;
            }
        }
        &-backpackSlot2 {
            left: 91px;
            &::after {
                left: 28px;
            }
        }
        &-backpackSlot3 {
            left: 91px;
            &::after {
                left: 143px;
            }
        }
        &-backpackSlot4 {
            left: 100px;
            &::after {
                right: 28px;
            }
        }
        &-backpackSlot5 {
            left: 175px;
            &::after {
                right: 28px;
            }
        }

        &-backpackSlot6 {
            left: 91px;
        }
        &-backpackSlot7 {
            left: 182px;
        }
        &-backpackSlot8 {
            left: -91px;
        }
        &-backpackSlot9 {
            left: 0;
        }
        &-backpackSlot10 {
            left: 91px;
        }
    }
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot2,
        &-backpackSlot3,
        &-backpackSlot4,
        &-backpackSlot5 {
            transform: none;
            top: -96px;
        }
        &-backpackSlot6,
        &-backpackSlot7,
        &-backpackSlot8,
        &-backpackSlot9,
        &-backpackSlot10 {
            margin-top: 0;
            transform: none;
            top: -96px;
        }
    }
    .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot2,
        &-backpackSlot3,
        &-backpackSlot4,
        &-backpackSlot5,
        &-backpackSlot6,
        &-backpackSlot7,
        &-backpackSlot8,
        &-backpackSlot9,
        &-backpackSlot10 {
            &::after {
                top: -16px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            }
        }
        &-backpackSlot6,
        &-backpackSlot7 {
            &::after {
                left: -14px;
                top: 16px;
                clip-path: polygon(0 50%, 100% 100%, 100% 0);
            }
        }
        &-backpackSlot8,
        &-backpackSlot9,
        &-backpackSlot10 {
            &::after {
                left: calc(100% - 1px);
                right: 0;
                top: 16px;
                clip-path: polygon(100% 50%, 0 100%, 0 3%);
            }
        }
    }
}

// blacksmith backpack -> tablet
@include tablet {
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot6 {
            transform: translate(-1px, -100%);
        }
        &-backpackSlot2 {
            transform: translate(45px, -100%);
        }
        &-backpackSlot3 {
            transform: translate(134px, -100%);
        }
        &-backpackSlot4 {
            transform: translate(218px, -100%);
        }
        &-backpackSlot5 {
            transform: translate(275px, -100%);
        }
        &-backpackSlot7 {
            transform: translate(142px, -100%);
        }
        &-backpackSlot8 {
            transform: translate(223px, -100%);
            &::after {
                left: 50%;
            }
        }
        &-backpackSlot9 {
            transform: translate(317px, -100%);
        }
        &-backpackSlot10 {
            transform: translate(449px, -100%);
        }
    }
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot2,
        &-backpackSlot3,
        &-backpackSlot4,
        &-backpackSlot5,
        &-backpackSlot6,
        &-backpackSlot7,
        &-backpackSlot8,
        &-backpackSlot9,
        &-backpackSlot10 {
            top: auto;
            &::after {
                top: auto;
                bottom: -17px;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
            }
        }
    }

    .profile__backpack .profile__itemSpecs {
        &-backpackSlot6,
        &-backpackSlot7,
        &-backpackSlot8,
        &-backpackSlot9,
        &-backpackSlot10 {
            &::after {
                left: auto;
                right: auto;
            }
            left: auto;
            margin-top: 155px;
        }
        &-backpackSlot6 {
            &::after {
                left: 28px;
            }
        }
        &-backpackSlot7 {
            &::after {
                left: 28px;
            }
        }
        &-backpackSlot8 {
            &::after {
                left: 140px;
            }
        }
        &-backpackSlot9 {
            &::after {
                right: 28px;
            }
        }
        &-backpackSlot10 {
            &::after {
                right: 28px;
            }
        }
    }
}
// profile backpack -> tablet
@include tablet {
    .profile__backpackLabel {
        &-1 {
            transform: translate(4px, -16px);
        }
        &-2 {
            transform: translate(139px, -16px);
        }
        &-3 {
            transform: translate(234px, -16px);
        }
        &-4 {
            transform: translate(323px, -16px);
        }
        &-5 {
            transform: translate(450px, -16px);
        }

        &-6 {
            transform: translate(4px, 128px);
        }
        &-7 {
            transform: translate(139px, 128px);
        }
        &-8 {
            transform: translate(234px, 128px);
        }
        &-9 {
            transform: translate(323px, 128px);
        }
        &-10 {
            transform: translate(450px, 128px);
        }
    }
}

// blacksmith backpack -> mobileL 
@include mobileL {
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot6 {
            transform: translate(-1px, -100%);
        }
        &-backpackSlot2 {
            transform: translate(-10px, -100%);
        }
        &-backpackSlot3 {
            transform: translate(-19px, -100%);
        }
        &-backpackSlot4 {
            transform: translate(-38px, -100%);
        }
        &-backpackSlot5 {
            transform: translate(-35px, -100%);
        }
        &-backpackSlot7 {
            transform: translate(83px, -100%);
        }
        &-backpackSlot8 {
            transform: translate(72px, -100%);
            &::after {
                left: 50%;
            }
        }
        &-backpackSlot9 {
            transform: translate(59px, -100%);
        }
        &-backpackSlot10 {
            transform: translate(139px, -100%);
        }
        
            &-backpackSlot6,
            &-backpackSlot7,
            &-backpackSlot8,
            &-backpackSlot9,
            &-backpackSlot10 {
              
                margin-top: 83px;
            }
    }
}
// profile backpack -> mobileL
@include mobileL {
    .profile__backpackLabel {
        &-1 {
            transform: translate(4px, -7px);
        }
        &-2 {
            transform: translate(75px, -7px);
        }
        &-3 {
            transform: translate(74px, -7px);
        }
        &-4 {
            transform: translate(76px, -7px);
        }
        &-5 {
            transform: translate(141px, -7px);
        }

        &-6 {
            transform: translate(4px, 71px);
        }
        &-7 {
            transform: translate(75px, 71px);
        }
        &-8 {
            transform: translate(74px, 71px);
        }
        &-9 {
            transform: translate(76px, 71px);
        }
        &-10 {
            transform: translate(141px, 71px);
        }
    }
}
@include mobileL {
    .profile__backpack .profile__itemSpecs-backpackSlot3::after,
    .profile__backpack .profile__itemSpecs-backpackSlot8::after {
        left: 126px;
    }
}

// profile backpack -> mobile M
@include mobileM {
    .profile__backpackLabel {
        &-1 {
            transform: translate(2px, -9px);
        }
        &-2 {
            transform: translate(75px, -9px);
        }
        &-3 {
            transform: translate(74px, -9px);
        }
        &-4 {
            transform: translate(76px, -9px);
        }
        &-5 {
            transform: translate(144px, -9px);
        }

        &-6 {
            transform: translate(2px, 60px);
        }
        &-7 {
            transform: translate(75px, 60px);
        }
        &-8 {
            transform: translate(74px, 60px);
        }
        &-9 {
            transform: translate(76px, 60px);
        }
        &-10 {
            transform: translate(144px, 60px);
        }
    }
}

// blacksmith backpack -> mobile L 
@include mobileM {
    .profile__backpack .profile__itemSpecs {
        &-backpackSlot1,
        &-backpackSlot6 {
            transform: translate(-1px, -100%);
        }
        &-backpackSlot2 {
            transform: translate(-20px, -100%);
        }
        &-backpackSlot3 {
            transform: translate(-18px, -100%);
        }
        &-backpackSlot4 {
            transform: translate(-26px, -100%);
        }
        &-backpackSlot5 {
            transform: translate(-31px, -100%);
        }
        &-backpackSlot7 {
            transform: translate(73px, -100%);
        }
        &-backpackSlot8 {
            transform: translate(72px, -100%);
            &::after {
                left: 50%;
            }
        }
        &-backpackSlot9 {
            transform: translate(72px, -100%);
        }
        &-backpackSlot10 {
            transform: translate(142px, -100%);
        }
        
            &-backpackSlot6,
            &-backpackSlot7,
            &-backpackSlot8,
            &-backpackSlot9,
            &-backpackSlot10 {
              
                margin-top: 72px;
            }
    }
}
@include mobileM {
    .profile__backpack .profile__itemSpecs-backpackSlot3::after,
    .profile__backpack .profile__itemSpecs-backpackSlot8::after {
        left: 99px;
    }
}