.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__monster {
        width: 300px;
        height: auto;
        object-fit: cover;
        z-index: 2;
        @include laptopM {
            width: 218px;
        }
    }
    &__title {
        margin-top: 34px;
        font-size: 53px;
        font-weight: bold;
        font-style: italic;
        color: $color-white;
        -webkit-text-stroke: 0.188rem $color-black;
        text-shadow: 3px 3px $color-black;
    }
    &__content {
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        margin-top: 30px;
        width: 160px;
        height: 160px;
        object-fit: cover;
        animation: 1.5s an__loading linear infinite;
        @include laptopM {
            margin-top: 24px;
            width: 146px;
            height: 146px;
        }
    }
}
@keyframes an__loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
