.missions {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url("/images/background_missions.jpg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    &__characterWrapper {
        grid-column: 1/2;
        grid-row: 1/1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }
    &__details {
        grid-column: 2/3;
        grid-row: 1/1;
        padding: 15px;
    }
    &__list {
        grid-column: 1/-1;
        grid-row: 2/2;
        background: #cb8252;
        border: 13px solid #805333;
        box-shadow: 13px 13px #a56a43 inset, -5px -5px #a56a43 inset;
    }
    &__listWrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 12px;
    }
    &__title {
        text-align: center;
        margin-top: 30px;
        font-family: $fontFamily-medivalSharp;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 0.125rem;
    }
    &__papyrus {
        width: 19%;
        height: auto;
        object-fit: cover;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
        }
    }
    &__willingnessBar {
        height: 90%;
        width: 50px;
        border: 5px solid $color-gold;
        margin-bottom: 25px;
        border-radius: 80px;
        background: rgba(255, 255, 255, 0.5);
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;

            background: #11998e; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to right,
                #38ef7d,
                #11998e
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

.mission {
    &__character {
        height: auto;
        width: 50%;
        object-fit: cover;
    }
    &__informations {
        height: 100%;
        position: relative;
    }
    &__textWrapper {
        position: relative;
        height: 0%;
        animation: 1s showPapyrus forwards ease-in-out;
    }
    &__text {
        width: 73%;
        height: 100%;
        margin: 0 auto;
        clip-path: polygon(
            100% 100%,
            95% 94%,
            100% 92%,
            100% 75%,
            97% 71%,
            100% 69%,
            100% 35%,
            96% 31%,
            100% 26%,
            100% 0%,
            0% 0%,
            0% 41%,
            3% 44%,
            0% 47%,
            0% 100%
        );
        background: #ffeed2;
        box-shadow: -36px 0 #f7dab4 inset;
        padding: 0 41px;
        padding-top: 0.75rem;
        font-family: $fontFamily-medivalSharp;
    }
    &__title {
        font-size: 2.313rem;
        font-weight: bold;
    }
    &__description {
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 0.5rem;
    }
    &__detailsWrapper {
        margin-top: 0.625rem;
    }

    &__detail {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-top: 0.75rem;
    }

    &__detailImg {
        width: 37px;
        height: auto;
        object-fit: cover;
    }
    &__detailName {
        margin-left: 0.5rem;
        font-weight: 900;
    }
    &__detailResult {
        margin-left: 0.5rem;
    }
    &__acceptBtn {
        background: transparent;
        font-size: 1.375rem;
        border: none;
        outline: none;
        position: relative;
        background: #c48958;
        color: #e4b052;
        padding: 0.313rem 0.75rem;
        border-radius: 0.625rem;
        margin-top: 0.625rem;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            letter-spacing: 0.065rem;
        }
    }
}
@keyframes showPapyrus {
    100% {
        height: 90%;
    }
}
.textRool {
    display: flex;
    align-items: center;
    width: 100%;
    height: 26px;
    background-color: #c48958;
    border-radius: 25px;
    position: relative;
    box-shadow: -115px 0 #b27a49 inset;
    z-index: 2;
    &-bottom {
        position: absolute;
        bottom: -13px;
        left: 0;
    }
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 50px;
        width: 30px;
        background: #e4b052;
    }
    &::before {
        border-radius: 15px 0 0 15px;
        left: 21px;
    }
    &::after {
        border-radius: 0 15px 15px 0;
        right: 21px;
    }
}
