.nav {
    width: 20%;
    height: 100%;
    background: $color-gray_dark;
    font-size: 2.5rem;
    overflow: auto;
    @include ipadPro {
        width: 50%;
        z-index: 3;
        position: absolute;
        display: none;
    }

    @include mobileL {
        width: 100%;
        height: calc(100% - 52px);
    }
    @include mobileM {
        height: calc(100% - 43px);
    }
    ::-webkit-scrollbar {
        width: 0;
    }
    &__titleWrapper {
        margin-top: 10px;
        height: 90px;
        font-weight: bold;
        font-family: $fontFamily-medivalSharp;
        font-size: 44px;
        text-align: center;
        letter-spacing: 0.313rem;
        color: $color-red;
        @include desktopM {
            height: 75px;
            font-size: 39px;
        }
        @include laptopL {
            height: 56px;
            font-size: 31px;
        }
        @include laptopM {
            height: 39px;
            font-size: 26px;
            margin-top: 5px;
        }
        @include ipadPro {
            height: 100%;
            font-size: 29px;
            &:first-child {
                display: none;
            }
        }
        @include tablet {
            height: 70px;
            font-size: 40px;
            &:first-child {
                display: block;
            }
            &:nth-child(2) {
                display: none;
            }
        }
        @include mobileL {
            height: 50px;
            font-size: 32px;
        }
        @include mobileM {
            height: 42px;
            font-size: 26px;
        }
    }
    &__list {
        margin-top: 10px;
    }
    &__item {
        padding: 0 10px;
        margin-top: 10px;
        height: 61px;
        color: $color-gray_dark;
        display: flex;
        justify-content: center;
        align-items: center;
        @include desktopM {
            margin-top: 6px;
            height: 50px;
        }
        @include laptopL {
            margin-top: 5px;
            height: 42px;
        }
        @include ipadPro {
            padding: 0 10px;
            margin-top: 10px;
            height: 61px;
        }
        @include tablet {
            height: 60px;
        }
        @include mobileL {
            padding: 0;
            flex-direction: column;
            align-items: center;
            height: 100px;
            margin-top: 0;
            &:last-child {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
        @include mobileM {
            margin-top: -18px;
            &:first-child {
                margin-top: 0;
            }
        }
        @include mobileS {
            margin-top: -34px;
            &:first-child {
                margin-top: -15px;
            }
        }
    }

    &__icon {
        width: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background: $color-white;
        border-radius: 50%;
        padding: 2px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include desktopM {
            width: 56px;
        }
        @include laptopL {
            width: 42px;
        }
        @include ipadPro {
            width: 61px;
        }
        @include mobileL {
            margin-bottom: -15px;
            width: 53px;
        }
        @include mobileM {
            width: 46px;
        }
        @include mobileS {
            width: 37px;
            margin-bottom: -10px;
        }
    }
    &__link {
        position: relative;
        z-index: 0;
        margin-left: -15px;
        padding: 6px;
        padding-left: 20px;
        width: 100%;
        background: $color-white;
        border-radius: 0 30px 30px 0;
        font-size: 1.438rem;
        overflow: hidden;
        color: $color-gray_dark;
        @include desktopM {
            padding: 5px;
            padding-left: 20px;
        }
        @include laptopL {
            padding: 4px;
            padding-left: 21px;
        }
        @include ipadPro {
            padding: 6px;
            padding-left: 21px;
            font-weight: bold;
        }
        @include mobileL {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 30px;
            height: 43px;
            font-size: 19px;
            width: 76%;
            
        }
        @include mobileM {
            height: 36px;
            font-size: 18px;
            width: 80%;
        }
        @include mobileS {
            height: 29px;
            font-size: 15px;
            width: 82%;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 84px;
            height: 90px;
            background: red;
            bottom: -34px;
            right: -100%;
            transform: rotate(21deg);
            transition: 0.4s;
            z-index: -1;
            @include desktopM {
                width: 55px;
            }
            @include desktopS {
                width: 40px;
                height: 40px;
                bottom: -10px;
                
            }
            @include ipadPro {
                width: 157px;
            }
            @include tablet {
                width: 78px;
            }
            @include mobileL {
                width: 45px;
                height: 66px;
                bottom: -21px;
                right: -32px;
            }
            
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 84px;
            transform: rotate(21deg);
            @include mobileL {
                width: 45px;
                height: 66px;
                top: -21px;
                left: -32px;
            }
        }

        &:hover::after {
            @media screen and (min-width: 764px) {
                right: 0;
            }
        }

        &-reverse {
            border-radius: 30px 0 0 30px;
            margin-left: 0;
            margin-right: -20px;
            padding-right: 22px;
            text-align: right;
            text-decoration: underline;
            &::after {
                left: -100%;
                background: #e04f5f;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover::after {
                left: -2px;
            }
            @include mobileL {
                margin: 0;
                padding: 0;
                margin-right: 16px;
                padding-bottom: 6px;
                border-radius: 30px;
                text-indent: 12px;
            }

            @include mobileS {
                text-indent: 16px;
            }
        }
        &-mission {
            &::after,
            &::before {
                background: #ffdc00;
            }
        }
        &-profile {
            &::after,
            &::before {
                background: #e80457;
            }
        }
        &-blacksmith {
            &::after,
            &::before {
                background: #95d600;
            }
        }
        &-wizard {
            &::after,
            &::before {
                background: #65b0fb;
            }
        }
        &-inbox {
            &::after,
            &::before {
                background: #ffb600;
            }
        }
        &-pets {
            &::after,
            &::before {
                background: #1ab975;
            }
        }
        &-friends {
            &::after,
            &::before {
                background: #813788;
            }
        }
        &-search {
            &::after,
            &::before {
                background: #ffc91b;
            }
        }
        &-guard {
            &::after,
            &::before {
                background: #ff9e22;
            }
        }
        &-account {
            &::after,
            &::before {
                background: #8f95e6;
            }
        }
    }
}
.mobileNav {
    width: 100%;
    height: 70px;
    background: $color-gray_dark;
    position: fixed;
    bottom: 0;
    display: none;
    padding: 7px 16px;
    z-index: 4;
    border-top: 2px solid $color-red;
    @include mobileL {
        height: 52px;
    }
    @include mobileM {
        height: 43px;
        padding: 6px 7px;
    }
    h1 {
        margin-left: 11px;
    }
    &__icon {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    @include ipadPro {
        display: flex;
    }
    &__content {
        display: flex;
        width: 100%;
        height: 56px;
        margin-left: 15px;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 100%;
        width: 45%;
        &:last-child {
            margin-left: 20px;
        }
        @include mobileL {
            height: 38px;
        }
        @include mobileM {
            height: 32px;
        }
        
    }
    &__itemIcon {
        z-index: 1;
        height: 100%;
        background-color: $color-white;
        padding: 2px;
        border-radius: 30px;
        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
    &__itemName {
        margin-left: -12px;
        z-index: 0;
        width: 100%;
        background-color: $color-white;
        font-size: 26px;
        padding: 8px;
        font-weight: bold;
        letter-spacing: 0.125rem;
        border-radius: 0 20px 20px 0;
        padding-left: 14px;
        @include mobileL {
            font-size: 16px;
            padding: 6px;
            padding-left: 13px;
        }
        @include mobileM {
            font-size: 14px;
            padding: 5px;
            padding-left: 14px;
        }
    }
}
#freepik-attribute{
    font-size: 14px;
    color: red;
}