.pets {
    background-image: url("/images/pets_background.jpg");
    
    height: 100%;
    background-size: 100% 100%;
    &__wrapper {
        margin-top: 45px;
        display: flex;
        justify-content: space-evenly;
     
    }
    &__userGoldWrapper {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0 auto;
         position: relative;
    }
    &__userGold{
        display: flex;
        align-items: center;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 0.688rem;
    }
    &__userGoldAmount{
        
        margin-left: 0.813rem;
        font-weight: bold;
        letter-spacing: 0.063rem;
        font-size: 2.375rem;
        color: $color-gold;
        -webkit-text-stroke: 0.063rem $color-gray-dark;
    }
    &__userGoldIcon{
       width: 2.438rem;
       height: auto;
       object-fit: cover;
    }
    &__goldSubtract{
       position: absolute;
       color: $color-error;
       bottom: 0;
       font-size: 1.313rem;
       font-weight: bold;
       color: $color-red;
       -webkit-text-stroke: 0.063rem $color-gray-dark;
       animation: 1.5s an__pets_goldSubtract forwards;
    }
    &__item {
        position: relative;
        z-index: 3;
        width: 20%;
        height: 587px;
        padding: 14px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        transition: 0.3s;
        &:hover {
            background: rgba(255, 255, 255, 0.7);
            width: 21%;
        }
        @include desktopM {
            width: 22%;
            height: 553px;
        }
    }
    &__current{
        border: 8px solid $color-gold;
    }
    &__countdownWrapper{
        position: absolute;
        bottom: -38px;
        left: 0;
        margin: 0 auto;
        width: 100%;
        background: $color-gold;
        text-align: center;
        padding: 3px 0;
        font-weight: bold;
        letter-spacing: 0.063rem;
        word-spacing: 0.125rem;
        color: $color-white;
        font-size: 30px;
        border-radius: 0 0  20px 20px;
    }
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__name {
        padding: 0.313rem 0;
        text-align: center;
        border-radius: 8px;
        font-size: 2.375rem;
        margin-top: 10px;
        text-transform: uppercase;
        &-cat {
            background: #f7c4db;
            color: #c56cb7;
        }
        &-scorpion {
            background: #b77158;
            color: #3b4456;
        }
        &-cheetah {
            background: #fbd476;
            color: #cca75e;
        }
        &-dragon {
            background: #f47a6e;
            color: #b4453f;
        }
    }

    &__cost {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.813rem;
        height: 2rem;
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
        strong {
            display: block;
            margin-left: 0.313rem;
            font-weight: bold;
            letter-spacing: 0.063rem;
            font-size: 2.063rem;
            color: $color-gold;
            -webkit-text-stroke: 0.063rem $color-gray-dark;
        }
      
        &-notAfford {
            
          strong{
              text-shadow: 0.188rem 0.188rem $color-error;
          }
        }


    }
    &__benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.813rem;
    }

    &__benefitsItem {
        color: $color-green;
        font-weight: bold;
        word-spacing: 0.125rem;
        -webkit-text-stroke: 0.063rem $color-gray-dark;
        margin-top: 0.188rem;
    }
    &__buy {
        width: 100%;
        position: absolute;
        bottom: 10px;
        left: 0;
        display: flex;
        justify-content: center;
        &-afford {
            background: $color-green !important;
            color: $color-white !important;
        }
        &-notAfford {
            background: $color-error !important;
            color: $color-white !important;
        }
        button {
            display: block;
            margin: 0 auto;
            padding: 0.625rem;
            font-size: 1.25rem;
            border: none;
            margin-top: 0.813rem;
            border-radius: 9px;
            background: $color-gold;
            color: $color-gray-dark;
            font-weight: 700;
            transition: 0.2s;
            &:hover{
                cursor: pointer;
                letter-spacing: 0.125rem;
            }
        }
    }

    &__timeLeft {
        width: auto;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #51ab97;
        border-radius: 3px;
        color: #51ab97;
        font-weight: bold;
        margin-top: 10px;
    }
}

@keyframes an__pets_goldSubtract {
    100%{
        transform: translateY(2.5rem);
    }
}