.profile {
    background-image: url("/images/background_profile.jpg");
    display: flex;
    &__item {
        position: relative;
        padding: 10px;
        width: 50%;
        z-index: 1;
        &:first-child {
            border-right: 6px solid $color-gray_dark;
            @include laptopL {
                border-right: 4px solid $color-gray_dark;
            }
        }
        @include laptopL {
            padding: 6px;
        }
    }
    &__equipment {
        height: 528px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 10px solid $color-gold;
        position: relative;
        @include desktopM {
            border-bottom: 7px solid $color-gold;
        }
        &-specificUser {
            @include desktopM {
                height: 436px;
            }
            @include laptopL {
                height: 380px;
            }
        }
        &-currentUser {
            @include desktopM {
                height: 454px;
            }
            @include laptopL {
                height: 376px;
            }
        }
    }

    &__equipmentItem {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/images/profile_frame_item.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        &-helmet {
            grid-row: 1/1;
            grid-column: 1/1;
        }
        &-armor {
            grid-row: 2/2;
            grid-column: 1/1;
        }
        &-gloves {
            grid-row: 3/3;
            grid-column: 1/1;
        }
        &-weapon {
            grid-row: 1/1;
            grid-column: 4/4;
        }
        &-shield {
            grid-row: 2/2;
            grid-column: 4/4;
        }
        &-special {
            grid-row: 3/3;
            grid-column: 4/4;
        }
    }

    &__portrait {
        background-image: url("/images/profile_frame_portrait.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120% 100%;
        grid-column: 2/4;
        grid-row: 1/3;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__portraitImg {
        margin-top: 37px;
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    &__portraitActionBar {
        position: absolute;

        display: flex;
        bottom: 2px;
        height: 29px;
        @include laptopL {
            height: 21px;
        }
    }
    &__portraitBtn {
        height: 29px;
        width: 29px;
        background: $color-blue;
        &:hover {
            cursor: pointer;
        }
        &-left {
            clip-path: polygon(50% 50%, 100% 0, 100% 100%);
        }
        &-right {
            clip-path: polygon(50% 50%, 0 0, 0 100%);
        }
        @include laptopL {
            height: 21px;
            width: 26px;
        }
    }
    &__portraitActionIcon {
        width: 27px;
        height: auto;
        object-fit: cover;
        margin: 0 9px;
    }

    &__info {
        grid-column: 2/4;
        grid-row: 3/4;
        @include laptopL {
            height: 100%;
            overflow: hidden;
        }
    }
    &__itemSpecs {
        z-index: 10;
        padding: 10px;
        border-radius: 18px;
        width: 325px;
        background-color: $color-gray_dark;
        position: absolute;
        @include laptopL {
            border-radius: 15px;
            width: 250px;
        }

        &-common {
            border: 4px solid $color-blue;
            @include laptopL {
                border: 3px solid $color-blue;
            }
        }
        &-legendary {
            border: 4px solid $color-gold;
            @include laptopL {
                border: 3px solid $color-gold;
            }
        }
        &::after {
            width: 30px;
            height: 30px;
            content: "";
            position: absolute;
            display: block;
            background: $color-gray_dark;
            @include laptopL {
                width: 24px;
                height: 24px;
                
            }
        }

     
        &-helmet {
            top: 0;
            left: 189px;
            &::after {
                left: -28px;
                top: 21px;
                clip-path: polygon(0 50%, 100% 100%, 100% 0);
                @include laptopL {
                    left: -24px;
                }
            }
            @include desktopM {
                left: 160px;
            }
            @include laptopL {
                left: 135px;
            }
           
        }
        &-weapon {
            top: 0;
            right: 189px;
            &::after {
                right: -28px;
                top: 21px;
                clip-path: polygon(100% 50%, 0 100%, 0 0);
                @include laptopL {
                    right: -24px;
                }
            }
            @include desktopM {
                right: 160px;
            }
            @include laptopL {
                right: 135px;
            }
        }

        &-chestPlate {
            top: 35%;
            left: 189px;
            &::after {
                left: -28px;
                top: 21px;
                clip-path: polygon(0 50%, 100% 100%, 100% 0);
                @include laptopL {
                    left: -24px;
                }
            }
            @include desktopM {
                left: 160px;
            }
            @include laptopL {
                left: 135px;
            }
        }

        &-shield {
            top: 35%;
            right: 189px;
            &::after {
                right: -28px;
                top: 21px;
                clip-path: polygon(100% 50%, 0 100%, 0 0);
                @include laptopL {
                    right: -24px;
                }
            }
            @include desktopM {
                right: 160px;
            }
            @include laptopL {
                right: 135px;
            }
        }

        &-gloves {
            bottom: 10px;
            left: 189px;
            &::after {
                left: -28px;
                bottom: 21px;
                clip-path: polygon(0 50%, 100% 100%, 100% 0);
                @include laptopL {
                    left: -24px;
                }
            }
            @include desktopM {
                left: 160px;
            }
            @include laptopL {
                left: 135px;
            }
        }

        &-special {
            bottom: 10px;
            right: 189px;
            &::after {
                right: -28px;
                bottom: 21px;
                clip-path: polygon(100% 50%, 0 100%, 0 0);
                @include laptopL {
                    right: -24px;
                }
            }
            @include desktopM {
                right: 160px;
            }
            @include laptopL {
                right: 135px;
            }
        }
        .itemTitle {
            color: $color-white;
        }
        .itemRarity {
            color: $color-white;
            border-top: 2px solid $color-gold;
        }
        .itemDsc {
            color: $color-white;
        }
        table {
            color: $color-white;
        }
    }
    &__potionElement {
        color: $color-white;
    }
    &__potion-common {
        border-top: 2px solid $color-blue;
    }
    &__potion-legendary {
        border-top: 2px solid $color-gold;
    }
    &__actionWrapper {
        height: 30px;
        background: $color-white;
        border-radius: 18px;
        margin-top: 0.25rem;
        padding: 0.188rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        margin-bottom: 13px;
        letter-spacing: 0.063rem;
        transition: 0.2s;
        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
        &:hover {
            cursor: pointer;
            letter-spacing: 0.125rem;
        }
    }
    &__actionName {
        margin-left: 0.438rem;
        font-weight: 700;
        color: $color-gray_dark;
        font-size: 1.438rem;
    }
    &__actionError {
        display: block;
        color: $color-error;
        font-weight: 600;
        font-size: 19px;
        letter-spacing: 0.063rem;
        text-align: center;
    }

    &__equipmentItemSellWrapper {
        height: 30px;
        background: $color-white;
        border-radius: 18px;
        margin-top: 0.25rem;
        padding: 0.188rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 0.125rem $color-gold inset;
        }
    }
    &__equipmentItemSellIcon {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    &__equipmentItemSellPrice {
        margin-left: 0.438rem;
        font-weight: 900;
        color: $color-gold;
        font-size: 1.438rem;
        letter-spacing: 0.063rem;
    }
    &__level {
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 10px auto;
        height: 47px;
        border: 4px solid $color-gray_dark;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.4);
        color: $color-white;
        font-size: 51px;
        font-weight: bold;
        -webkit-text-stroke: 2px $color-gray_dark;
        text-shadow: 3px 3px $color-gray_dark;
        font-style: italic;
        @include desktopM {
            height: 38px;
            font-size: 36px;
            text-shadow: 2px 2px $color-gray_dark;
        }
        @include laptopL {
            height: 34px;
            font-size: 31px;
        }
    }
    &__levelProgress {
        z-index: -1;
        position: absolute;
        left: 0;
        height: 100%;
        background: $color-green;
        &-1 {
            width: 90%;
        }
    }
    &__nickname {
        width: 89%;
        display: block;
        background: $color-white;
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 2px 0;
        text-align: center;
        border-radius: 6px;
        font-weight: bold;
        letter-spacing: 0.125rem;
        box-shadow: 0 0 13px $color-red;
        text-shadow: 1px 1px $color-red;
        @include desktopM {
            padding: 1px 0;
        }
        @include laptopL {
            border-radius: 4px;
        }
    }
    &__equipmentIcon {
        width: 43%;
        height: auto;
        object-fit: cover;
        &-pulse {
            animation: 1s an__equipmentIcon infinite alternate-reverse;
        }
    }
    &__description {
        position: relative;
        z-index: -1;
        width: 90%;
        margin: 10px auto;
        height: 30%;
        border: 5px solid $color-red;
        border-radius: 8px;
        position: relative;

        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);
        padding: 20px;
        box-shadow: 0 0 3px $color-black;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 48px;
            width: 48px;
            top: -13px;
            left: -27px;
            border-radius: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("/images/profile_description_ribbon.png");
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 48px;
            width: 48px;
            top: -13px;
            right: -27px;
            border-radius: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("/images/profile_description_ribbon.png");
        }

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            outline: none;
            border: none;
            background: transparent;
            font-weight: 700;
            font-size: 1.438rem;
            letter-spacing: 0.063rem;
            line-height: 1.563rem;
            font-family: $fontFamily-medivalSharp;
        }
        @include desktopM {
            height: 34%;
            width: 93%;
            padding: 15px;
        }
    }

    &__backpack {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .profile__itemSpecs {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }
    }
    &__backpackRow {
        display: flex;
    }
    &__backpackItem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 148px;
        border-left: 3px solid $color-gray_dark;
        border-top: 3px solid $color-gray_dark;
        transition: 0.3s;
        img {
            width: 90%;
            height: 90%;
        }
        &:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.5);
        }
        @include desktopM {
            width: 122px;
            height: 122px;
        }
        @include desktopS {
            width: 110px;
            height: 110px;
        }
        @include laptopL {
            width: 103px;
            height: 103px;
        }
    }

    &__backpackItemGraphic {
        width: 70%;
        height: 70%;
        object-fit: cover;
    }
    &__backpackLabelWrapper {
        position: absolute;
        width: 100%;
        &-blacksmith {
            top: 0;
            background-color: red;
        }
    }
    &__general {
        display: flex;
        justify-content: space-between;
        position: relative;
        &-searchedUser {
            margin-top: 10px;
            @include desktopM {
                margin-top: 7px;
            }
        }
    }
    &__generalItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 151px;
    }

    &__generalImg {
        border: 7px solid $color-wood-dark;
        width: 120px;
        height: 120px;
        border-radius: 90px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 3px $color-black;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
            height: auto;
            object-fit: cover;
        }
        &-item {
            img {
                width: 67%;
            }
        }
        @include desktopM {
            width: 100px;
            height: 100px;
        }
        @include laptopL {
            width: 79px;
            height: 79px;
            border: 5px solid $color-wood-dark;
        }
    }
    &__generalText {
        width: 120px;
        text-align: center;
        overflow: hidden;
        margin-top: 9px;
        padding: 6px 0;
        background-color: $color-wood-dark;
        color: $color-gold;
        font-weight: 600;
        letter-spacing: 0.063rem;
        border-radius: 3px;
        @include desktopM {
            margin-top: 5px;
        }
        @include laptopL {
            width: 79px;
            padding: 3px 0;
            margin-top: 2px;
        }
    }
    &__goldBar {
        height: 36px;
        width: 90%;
        background: $color-gray_dark;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.313rem 0;
        border-radius: 50px;
        &-noAfford {
            animation: 1s an__goldBar infinite alternate-reverse;
        }
        @include laptopL {
            height: 32px;
        }
    }
    &__goldIcon {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    &__goldAmount {
        font-weight: 900;
        letter-spacing: 0.063rem;
        color: $color-gold;
        font-size: 1.5rem;
        margin-left: 0.563rem;
        &-noAfford {
            text-shadow: 0.188rem 0.188rem 0.125rem $color-error;
        }
        &-afford {
            text-shadow: 0.188rem 0.188rem 0.125rem $color-green;
        }
    }

    &__goldSubstract {
        position: relative;
        z-index: 11;
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.063rem;
        color: $color-error;
        font-size: 1.5rem;
        transform: translateY(-4px);
        -webkit-text-stroke: 0.063rem $color-gray_dark;
        animation: 1.5s an__goldSubstract infinite;
    }
}
.profile__backpackRow {
    &:first-child .profile__backpackItem:last-child {
        border-right: 3px solid $color-gray_dark;
    }
    &:last-child .profile__backpackItem {
        border-bottom: 3px solid $color-gray_dark;
    }
    &:last-child .profile__backpackItem:last-child {
        border-right: 3px solid $color-gray_dark;
    }
}

.profile__stats {
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    color: $color-gold;
    font-size: 1.563rem;
    padding: 25px 0;

    border: 3px solid $color-gold;
    box-shadow: 0 0 3px $color-black;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);

    table {
        width: 100%;
        //height: 100%;
        margin-top: -10px;
    }
    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    td {
        padding-top: 5px;
        @include laptopL {
            padding-top: 3px;
        }
    }
    tr {
        max-height: 30px;
        margin-left: 0.5rem;
        &:nth-child(2n) {
            border-bottom: 2px solid $color-gray_dark;
            margin-bottom: 4px;
            padding-bottom: 10px;
            td {
                padding-top: 0;
                padding-bottom: 5px;
            }
        }
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    @include desktopM {
        margin-top: 7px;
        padding: 10px 0;
    }
    @include laptopL {
        padding: 6px 0;
    }
}
.profile__generalLabelWrapper {
    position: absolute;
}
#blacksmith_backpack_item_label,
#blacksmith_equipment__item_label {
    z-index: 10;
}
@keyframes an__notAfford {
    100% {
        background: $color-error;
        opacity: 0.1;
    }
}
.profile__item--name {
    display: flex;
    align-items: center;
    color: $color-red;
    font-weight: 700;
    letter-spacing: 0.063rem;
}
.profile__item--nameBlue {
    color: $color-blue !important;
    text-decoration-color: $color-blue;
    margin-left: 0.5rem;
}
.profile__item--cost {
    display: flex;
    align-items: center;
}
.profile__item-notAfford {
    animation: 1s an__profile__item-notAfford forwards;
}

.profile__item--amount {
    font-weight: 600;
    color: $color-red;
    text-decoration: underline;
    text-decoration-color: $color-red;
}
.profile__item--buyBtn {
    button {
        font-size: 24px;
        display: block;
        border: none;
        padding: 3px 10px;
        text-align: center;
        background: $color-red;
        color: $color-white;
        border-radius: 8px;
        @include laptopL{
            font-size: 18px;
        }
    }
}
.white {
    color: $color-white !important;
}
.profile__itemSpecs {
    &-backpackSlot1 {
        transform: translate(-1px, -100%);
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }
    &-backpackSlot2 {
        transform: translate(151px, -100%);
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }
    &-backpackSlot3 {
        transform: translate(215px, -100%);
        &::after {
            left: 154px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(153px, -100%);
        }
    }
    &-backpackSlot4 {
        transform: translate(260px, -348px);
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(144px, -100%);
        }
    }
    &-backpackSlot5 {
        transform: translate(414px, -100%);
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(295px, -100%);
        }
    }

    &-backpackSlot6 {
        transform: translate(-1px, -100%);
        margin-top: 160px;
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
    }
    &-backpackSlot7 {
        transform: translate(151px, -100%);
        margin-top: 160px;
        &::after {
            left: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
    }
    &-backpackSlot8 {
        transform: translate(215px, -100%);
        margin-top: 160px;
        &::after {
            left: 154px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            transform: translate(144px, -100%);
            margin-top: 134px;
        }
    }
    &-backpackSlot9 {
        transform: translate(260px, -100%);
        margin-top: 160px;
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
        }
    }
    &-backpackSlot10 {
        transform: translate(414px, -100%);
        margin-top: 160px;
        &::after {
            right: 28px;
            bottom: -26px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
        @include desktopM {
            margin-top: 134px;
            transform: translate(295px, -100%);
        }
    }
}

.profile__backpackLabel {
    &-1 {
        transform: translate(-1px, 3px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(-1px, 3px);
        }
    }
    &-2 {
        transform: translate(151px, 3px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(151px, 3px);
        }
    }
    &-3 {
        transform: translate(215px, 3px);
        &::after {
            left: calc(50% - 15px);
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(153px, 3px);
        }
    }
    &-4 {
        transform: translate(262px, 3px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(171px, 3px);
        }
    }
    &-5 {
        transform: translate(411px, 3px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(290px, 3px);
        }
    }
    &-6 {
        transform: translate(-1px, 154px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(-1px, 110px);
        }
    }
    &-7 {
        transform: translate(151px, 154px);
        &::after {
            left: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(151px, 110px);
        }
    }
    &-8 {
        transform: translate(215px, 154px);
        &::after {
            left: calc(50% - 15px);
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(153px, 110px);
        }
    }
    &-9 {
        transform: translate(262px, 154px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(171px, 110px);
        }
    }
    &-10 {
        transform: translate(411px, 154px);
        &::after {
            right: 28px;
            top: -26px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        @include desktopM {
            transform: translate(290px, 110px);
        }
    }
}
.potion__label {
    padding: 10px;
    border-radius: 18px;
    width: 280px;
    background-color: $color-gray_dark;
    position: absolute;
    
    &-1 {
        transform: translate(258px, -100%);
        @include desktopM {
            transform: translate(170px, -100%);
        }
        @include desktopS {
            transform: translate(125px, -100%);
        }
        @include laptopL {
            transform: translate(155px, -100%);
        }
    }
    &-2 {
        transform: translate(454px, -100%);
        @include desktopM {
            transform: translate(325px, -100%);
        }
        @include desktopS {
            transform: translate(264px, -100%);
        }
        @include laptopL {
            transform: translate(284px, -100%);
        }
        
    }
    &::after {
        width: 30px;
        height: 30px;
        content: "";
        bottom: -30px;
        position: absolute;
        display: block;
        background: $color-gray_dark;
        right: 28px;
        bottom: -26px;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        @include laptopL {
            width: 24px;
            height: 24px;
            bottom: -23px;
        }
    }
    @include laptopL {
        width: 225px;
        padding: 6px;
    }
}
#searched_user_root,
#friends_branch {
    padding: 10px;
    .profile__description {
        z-index: 0;
    }
    .potion__label-1 {
        transform: translate(156px, -100%);
        @include desktopM {
            transform: translate(91px, -100%);
        }
        @include desktopS {
            transform: translate(57px, -100%);
        }
        @include laptopL {
            transform: translate(88px, -100%);
        }
    }
    .potion__label-2{
        @include laptopL {
            transform: translate(267px, -100%);
        }
    }
    @include laptopL {
        padding: 6px;
    }
}
.searchedUser {
    &__statsWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        height: 135px;
        @include desktopM {
            height: 120px;
            padding-bottom: 4px;
            margin-top: 7px;
        }
        @include laptopL {
            height: 95px;
        }
    }
    &__statsTable {
        color: $color-white;
        width: 47%;
        height: 100%;
        border-radius: 20px;
        padding: 10px;
        background: $color-gray_dark;
        font-size: 20px;

        @include desktopM {
            height: 92%;
            font-size: 18px;
            border-radius: 16px;
        }
        @include laptopL {
            width: 49%;
            font-size: 15px;
            border-radius: 13px;
        }
    }
    &__actionBar {
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        padding: 5px 0;
        margin: 10px auto;
        width: 90%;
        border-radius: 25px;
        height: 50px;
        background: $color-gray_dark;
        @include desktopM {
            height: 35px;
            margin: 5px auto;
            padding: 3px;
        }
        @include laptopL {
            height: 32px;
            margin: 4px auto;
        }
    }
    &__actionIcon {
        height: 100%;
        width: auto;
        object-fit: cover;
        &:hover {
            cursor: pointer;
        }
    }
}
#searched_user_switch {
    transition: 0.7s;
    &:hover {
        transform: rotate(360deg);
    }
}
.searchedUser__statsTable {
    td:first-child {
        padding-top: 10px;
        @include desktopM {
            padding-top: 7px;
        }
        @include laptopL {
            padding-top: 4px;
        }
    }
    td {
        padding-left: 10px;
        @include desktopM {
            padding-left: 7px;
        }
        @include laptopL {
            padding-left: 4px;
        }
    }
    tr {
        font-weight: bold;
        letter-spacing: 0.125rem;
    }
}

@keyframes an__profile__item-notAfford {
    100% {
        color: $color-error;
        font-weight: 900;
    }
}
@keyframes an__equipmentIcon {
    0% {
        transform: scale(40%);
    }
    100% {
        transform: scale(100%);
    }
}
@keyframes an__goldBar {
    100% {
        box-shadow: 0 0 0 40px $color-red inset;
    }
}
@keyframes an__goldSubstract {
    100% {
        transform: translateY(100px);
    }
}
