.searchFriend {
    display: flex;
    height: 100%;
    background-image: url("/images/background_search_friend.jpg");
    background-size: 100% 100%;
    position: relative;
    @include tablet {
        background-size: 154% 100%;
    }
    &__item {
        width: 50%;
        height: 100%;

        @include ipadPro {
            width: 100%;
        }
        &:last-child {
            overflow: auto;
            margin: 0 auto;
            &::-webkit-scrollbar {
                width: 0;
            }
            @include ipadPro {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 1024px;
            }
            @include tablet {
                width: 768px;
            }
            @include mobileL {
                width: 425px;
            }
            @include mobileM {
                width: 375px;
            }
            @include mobileS {
                width: 320px;
            }
        }
        &-search {
            background: rgba(255, 255, 255, 0.5);
            border-right: 6px solid $color-gray_dark;
            @include desktopS {
                border-right: 4px solid $color-gray_dark;
            }
            @include ipadPro {
                border-right: 10px solid $color-gray_dark;
            }
            @include tablet {
                border-right: none;
            }
        }
        &-result {
            background: rgba(255, 255, 255, 0.5);
            padding: 10px;
        }
    }
    &__searchBar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        box-sizing: border-box;
        padding: 10px 0;
        @include laptopL {
            height: 42px;
            padding: 7px 0;
        }
        @include laptopM {
            height: 38px;
            padding: 7px 0;
        }
        @include ipadPro {
            height: 48px;
            padding: 5px 0;
        }
        @include mobileL {
            height: 34px;
            padding: 4px 0;
        }
    }
    &__searchIcon {
        height: 112%;
        background-color: $color-gold;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 0.25rem;
        transform: translateX(2.188rem);
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
    &__input {
        border: 3px solid $color-gold;
        outline: none;
        background: transparent;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        width: 381px;
        height: 100%;
        margin-left: 5px;
        padding-left: 2.188rem;
        font-family: $fontFamily-kanit;
        font-size: 1.563rem;
        &:focus {
            background: rgba(255, 255, 255, 0.4);
        }
        @include laptopM {
            font-size: 1.363rem;
        }
        @include laptopS {
            width: 297px;
            border: 2px solid $color-gold;
        }
        @include ipadPro {
            width: 398px;
            border: 3px solid $color-gold;
        }
        @include mobileL {
            border: 2px solid $color-gold;
            width: 300px;
        }

        @include mobileS {
            width: 213px;
        }
    }
    &__status {
        margin-left: 5px;
        height: 32px;
        width: 91%;
        background: $color-white;
        display: flex;
        align-items: center;
        border-radius: 15px;
        position: relative;
        z-index: 0;
        &::after {
            right: -10px;
            @include arrow("right");
            background: $color-white;
            @include desktopS {
                right: -9px;
            }
            @include laptopL {
                right: -11px;
            }
            @include laptopS {
                right: -7px;
            }
        }
        img {
            margin-left: -2px;
            @include tablet {
                margin-left: -3px;
            }
        }
        strong {
            margin-left: 0.25rem;
            font-weight: bold;
            font-size: 1.438rem;
            letter-spacing: 0.063rem;
            @include ipadPro {
                font-size: 1.1rem;
            }
            @include tablet {
                font-size: 1.6rem;
            }
            @include mobileL {
                font-size: 15px;
            }
            @include mobileM {
                font-size: 13px;
                margin-left: 2px;
            }
            @include mobileS {
                font-size: 11px;
            }
        }
        @include laptopL {
            width: 89%;
            height: 25px;
        }
        @include laptopS {
            height: 21px;
        }
        @include ipadPro {
            height: 34px;
            width: 91%;
        }
        @include tablet {
            height: 42px;
            border-radius: 19px;
        }
        @include mobileL {
            width: 90%;
            height: 27px;
        }
        @include mobileM {
            width: 89%;
            height: 25px;
        }
        @include mobileS {
            width: 86%;
            height: 23px;
        }
    }
    &__nick {
        margin-left: 20px;
        height: 32px;
        width: 90%;
        background: $color-white;
        display: flex;
        align-items: center;
        border-radius: 15px;
        position: relative;
        transition: 0.2s;
        &-selected {
            color: $color-blue;
            transition: 0.2s;
            color: $color-blue;
            &::after {
                background: $color-blue !important;
            }
        }
        strong {
            margin-left: 5px;
            font-weight: bold;
            font-size: 1.438rem;
            z-index: 1;
            letter-spacing: 0.063rem;
            @include desktopM {
                margin-left: 6px;
            }
            @include desktopS {
                margin-left: 6px;
            }
            @include laptopL {
              margin-left: 10px;
            }
           
            @include laptopS {
                margin-left: 12px;
            }
            @include ipadPro {
                margin-left: 12px;
            }
            @include tablet {
                font-size: 1.6rem;
            }
            @include mobileL {
                font-size: 15px;
                margin-left: 8px;
            }
            @include mobileM {
                font-size: 13px;
                margin-left: 6px;
            }
            @include mobileS {
                font-size: 11px;
            }
        }
        &::after {
            right: -11px;
            @include arrow("left");
            background: $color-white;
            z-index: 0;
        }
        &::before {
            @include arrow("right");
            width: 47px;
            left: -20px;
            z-index: 1;
            background: $color-green;
            @include laptopS {
                width: 41px;
            }
            @include ipadPro {
                width: 49px;
            }
            @include mobileL {
                width: 41px;
            }
            @include mobileM {
                width: 38px;
            }
            @include mobileS {
                width: 35px;
            }
        }
        @include desktopS {
            width: 88%;
        }
        @include laptopL {
            height: 25px;
        }
        @include laptopM {
            width: 87%;
        }
        @include laptopS {
            height: 21px;
            width: 83%;
        }
        @include ipadPro {
            height: 34px;
            margin-left: 17px;
            width: 89%;
        }
        @include tablet {
            height: 42px;
        }
        @include mobileL {
            width: 86%;
            height: 27px;
        }
        @include mobileM {
            margin-left: 19px;
            width: 84%;
            height: 25px;
        }
        @include mobileS {
            margin-left: 18px;
            width: 82%;
            height: 23px;
        }
    }
    &__level {
        height: 100%;
        min-width: 1.375rem;
        padding: 0 0.375rem;
        border-radius: 20px;
        display: flex;
        margin-left: -2px;
        justify-content: center;
        align-items: center;
        color: $color-white;
        font-weight: 600;
        letter-spacing: 0.125rem;
        font-size: 1.25rem;
        text-shadow: 0.125rem 0.125rem $color-gray_dark;
        position: relative;
        z-index: 1;
        text-indent: -11px;
        @include desktopS {
            
            text-indent: -8px;
        }
        @include laptopL {
            text-indent: -7px;
        }
        @include laptopM {
            text-indent: -8px;
        }
        @include laptopS {
            text-indent: -9px;
            color: red;
        }
        @include laptopS {
            text-indent: -12px;
        }
        @include mobileL {
            text-indent: -9px;
        }
        @include mobileM {
            text-indent: -10px;
        }
    }
    &__lastVisit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 32px;
        background: $color-white;
        border-radius: 15px;
        position: relative;
        z-index: 0;
        width: 94%;
        margin-left: 9px;

        &::after {
            @include arrow("left");
            left: -10px;
            background: $color-white;
            @include desktopM {
                left: -8px;
            }
            @include desktopS {
                left: -10px;
            }
            @include laptopL {
                left: -8px;
            }
            @include laptopS {
                left: -6px;
            }
        }
        img {
            margin-left: 3px;
            margin-right: -2px;
            @include desktopM {
                margin-right: -1px;
            }
            @include ipadPro {
                margin-right: -4px;
            }
            @include mobileM {
                margin-right: -2px;
            }
            @include mobileS {
                margin-right: -1px;
            }
        }

        @include laptopL {
            margin-left: 8px;
        }
        @include laptopL {
            height: 25px;
        }
        @include laptopS {
            height: 21px;
            margin-left: 5px;
        }
        @include ipadPro {
            height: 34px;
        }
        @include ipadPro {
            font-size: 15px;
        }
        @include tablet {
            height: 42px;
            font-size: 22px;
        }
        @include mobileL {
            height: 27px;
            font-size: 12px;
        }
        @include mobileM {
            font-size: 8px;
            height: 25px;
        }
    }
}
.searchFriend__list {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #473080;
        border-radius: 3px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        td,
        th {
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            padding: 1px;
        }

        tr {
            th:first-child,
            td:first-child {
                width: 26%;
            }
            th:nth-child(2),
            td:nth-child(2) {
                width: 48%;
            }
            th:last-child,
            td:last-child {
                width: 26%;
            }
        }
        td {
            @include tablet {
                padding-bottom: 7px;
            }
            @include mobileS {
                padding-bottom: 3px;
            }
        }
    }
    thead {
        border-bottom: 6px solid $color-blue;
        th {
            font-size: 1.563rem;
            font-weight: bold;
            letter-spacing: 0.125rem;
            border-right: 6px solid $color-gray_dark;
            @include desktopS {
                border-right: 4px solid $color-gray_dark;
            }
            &:last-child {
                border-right: none;
            }
            @include ipadPro {
                padding: 9px 0;
            }
            @include tablet {
                font-size: 1.863rem;
                padding: 3px 0;
            }
            @include mobileL {
                font-size: 15px;
                padding: 2px 0;
                border-right: 3px solid $color-gray_dark;
            }
        }
        @include desktopS {
            border-bottom: 4px solid $color-blue;
        }
        @include mobileL {
            border-bottom: 3px solid $color-blue;
        }
    }
    tbody {
        font-size: 1.25rem;
        tr {
            height: 40px;
            &:hover {
                cursor: pointer;
                border-bottom: 5px solid $color-gold;
                @include laptopL {
                    border-bottom: 3px solid $color-gold;
                }
            }
            @include laptopL {
                height: 32px;
            }
            @include laptopS {
                height: 28px;
            }
            @include ipadPro {
                height: 43px;
            }
            @include mobileL {
                height: 35px;
            }
            @include mobileM {
                height: 33px;
            }
            @include mobileS {
                height: 29px;
            }
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        tr img {
            height: 100%;
            width: auto;
            border-radius: 50%;
        }
    }

    @include laptopL {
        height: calc(100% - 42px);
    }
    @include laptopM {
        height: calc(100% - 38px);
    }
    @include ipadPro {
        height: calc(100% - 51px);
        width: 101%;
    }
    @include mobileL {
        height: calc(100% - 37px);
    }
}
