.market {
    &__characterWrapper {
        height: 336px;
        display: flex;
        justify-content: center;
        transition: 0.5s;
        margin-top: 64px;
        @include desktopM {
            margin-top: 32px;
            height: 305px;
        }
        @include laptopL {
            height: 257px;
        }
        @include laptopM {
            height: 200px;
        }
        @include ipadPro {
            width: 50%;
            position: relative;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }
    &__characterImg {
        width: auto;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        @include ipadPro {
            width: 320px;
            height: auto;
            margin-bottom: -92px;
        }
    }
    &__character {
        height: 100%;
        position: relative;
        transition: 0.5s;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 180px;
            height: 50%;
            background: $color-white;
            transform: scale(0);
            z-index: 2;
            clip-path: polygon(100% 61%, 0 0, 0 33%);
            top: 29px;
            left: -24px;
            animation: 1s 2s an__blacksmith_messageCloud forwards;
        }
    }
    &__shop {
        display: flex;
        flex-direction: column;
    }
    &__itemsList {
        margin-bottom: 57px;

        @include laptopS {
            margin-bottom: 0;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 4px;
                height: 100%;
                position: absolute;
                left: calc(50% - 2px);
                background-color: #343a40;
                @include ipadPro {
                    width: 10px;
                    left: calc(50% - 4px);
                    bottom: -6px;
                    height: 97%;
                }
            }
        }
        @include ipadPro {
            width: 50%;
            justify-content: space-around;
            align-items: space-evenly;
        }
    }

    &__shopRow {
        display: flex;
        justify-content: space-evenly;

        height: 50%;
        &:last-child {
            margin-top: 10px;
            @include laptopS {
                margin-top: 0;
            }
        }

        @include laptopS {
            height: 354px;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__shopFrame {
        width: 214px;
        height: 214px;
        background-size: 100% 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include desktopM {
            width: 177px;
            height: 177px;
        }
        @include desktopS {
            width: 166px;
            height: 166px;
        }
        @include laptopL {
            width: 144px;
            height: 144px;
        }
        @include laptopM {
            width: 135px;
            height: 133px;
        }
        @include laptopS {
            width: 154px;
            height: 110px;
        }
        @include ipadPro {
            margin-top: 30px;
            width: 229px;
            height: 186px;
        }
    }
    &__slotWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__slot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img {
            width: auto;
            height: 74%;
            object-fit: cover;
            @include laptopS {
                height: 140%;
            }
            @include ipadPro {
                height: 98%;
            }
        }

        &-wizard {
            img {
                width: 45%;
            }
        }
    }

    &__itemInfoWrapper {
        width: 360px;
        z-index: 1;
        @include laptopL {
            width: 250px;
        }
        @include laptopM {
            width: 290px;
        }
        @include ipadPro {
            width: 380px;
            position: absolute;
            top: 0;
        }
    }
    &__itemInfo {
        box-sizing: border-box;
        transition: 0.5s;
        background: $color-white;
        padding: 10px;
        width: 100%;
        max-height: 336px;
        transform: scale(0%);
        border-radius: 18px;
        animation: 0.6s an__blacksmith_messageCloud forwards;
        position: relative;
        transition: 0.5s;
        @include desktopM {
            padding: 7px;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: -197px;
            top: 30px;
            width: 200px;
            height: 160px;
            background: $color-white;
            clip-path: polygon(98% 64%, 0 0, 0 36%);
            z-index: -1;
            @include desktopM {
                width: 170px;
                right: -167px;
            }
            @include laptopL {
                width: 143px;
                right: -142px;
                top: 18px;
            }
            @include laptopM {
                width: 156px;
                right: -118px;
                top: 0;
                transform: rotate(-8deg);
            }
            @include ipadPro {
                width: 110%;
                height: 110%;
                left: -6%;
                top: -5%;
                transform: none;

                clip-path: polygon(
                    0% 0%,
                    2% 3%,
                    4% 0%,
                    7% 5%,
                    9% 0%,
                    11% 3%,
                    14% 0%,
                    16% 3%,
                    19% 0%,
                    21% 2%,
                    24% 0%,
                    28% 4%,
                    31% 0%,
                    34% 4%,
                    36% 0%,
                    39% 4%,
                    41% 0%,
                    43% 5%,
                    47% 0%,
                    49% 4%,
                    54% 0%,
                    57% 3%,
                    60% 0%,
                    64% 3%,
                    65% 0%,
                    69% 2%,
                    71% 0%,
                    73% 3%,
                    77% 0%,
                    79% 3%,
                    83% 0%,
                    86% 3%,
                    89% 0%,
                    91% 4%,
                    94% 0%,
                    95% 4%,
                    99% 0%,
                    98% 4%,
                    100% 6%,
                    99% 10%,
                    100% 13%,
                    99% 18%,
                    98% 23%,
                    100% 25%,
                    98% 30%,
                    100% 36%,
                    98% 41%,
                    100% 44%,
                    98% 48%,
                    100% 51%,
                    98% 53%,
                    100% 55%,
                    98% 58%,
                    100% 60%,
                    98% 63%,
                    100% 65%,
                    98% 68%,
                    100% 70%,
                    98% 72%,
                    100% 75%,
                    98% 76%,
                    100% 80%,
                    98% 82%,
                    100% 86%,
                    100% 88%,
                    98% 89%,
                    100% 92%,
                    99% 93%,
                    100% 96%,
                    98% 96%,
                    98% 100%,
                    95% 98%,
                    93% 100%,
                    90% 99%,
                    88% 100%,
                    85% 98%,
                    82% 100%,
                    79% 98%,
                    77% 100%,
                    73% 98%,
                    72% 100%,
                    66% 97%,
                    65% 100%,
                    61% 98%,
                    59% 100%,
                    55% 98%,
                    53% 100%,
                    51% 98%,
                    50% 100%,
                    46% 97%,
                    44% 100%,
                    41% 98%,
                    40% 100%,
                    38% 98%,
                    36% 100%,
                    34% 97%,
                    31% 100%,
                    30% 96%,
                    28% 100%,
                    26% 97%,
                    25% 99%,
                    23% 96%,
                    22% 100%,
                    20% 96%,
                    18% 100%,
                    15% 96%,
                    13% 100%,
                    11% 97%,
                    8% 100%,
                    7% 97%,
                    4% 100%,
                    3% 96%,
                    0% 97%,
                    2% 92%,
                    0% 90%,
                    2% 88%,
                    0% 84%,
                    2% 82%,
                    0% 77%,
                    2% 75%,
                    0% 70%,
                    2% 68%,
                    0% 64%,
                    3% 61%,
                    0% 56%,
                    3% 54%,
                    0% 51%,
                    3% 47%,
                    0% 42%,
                    4% 40%,
                    0% 35%,
                    5% 33%,
                    1% 30%,
                    0% 29%,
                    3% 25%,
                    0% 24%,
                    3% 20%,
                    0% 17%,
                    1% 13%,
                    0% 9%,
                    2% 8%,
                    0% 3%
                );
            }
        }
    }
    &__itemTitle {
        font-family: $fontFamily-medivalSharp;
        font-weight: 900;
        font-size: 1.75rem;
        color: $color-black;

        text-align: center;
        &-common {
            text-shadow: 0 0 0.938rem $color-item-blue;
        }
        &-legendary {
            font-style: italic;
            color: $color-gold;
            text-shadow: 0 0 0.938rem $color-gold;
        }
    }
    &__itemDsc {
        margin-top: 0.625rem;
        font-size: 1.063rem;

        font-style: italic;
        text-align: center;
        @include laptopM {
            margin-top: 2px;
        }
        @include ipadPro {
            margin-top: 8px;
        }
    }
    &__itemRarity {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-top: 2px solid $color-gray-dark;
        margin-top: 10px;
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        &-common {
            -webkit-text-stroke: 0.063rem $color-item-blue;
        }
        &-legendary {
            -webkit-text-stroke: 0.063rem $color-gold;
        }
        @include desktopM {
            margin-top: 4px;
            font-size: 16px;
        }
    }
    &__itemStats {
        width: 100%;
        border-top: 2px solid $color-gray-dark;
        margin-top: 10px;
        td {
            padding-bottom: 0.375rem;
            font-weight: bold;

            &:first-child {
                letter-spacing: 0.125rem;
            }
            &:last-child {
                text-align: end;
                letter-spacing: 0.063rem;
            }
            .better {
                color: $color-green;
            }
            .worse {
                color: $color-error;
            }
            @include laptopM {
                padding-bottom: 1px;
            }
        }
        @include laptopM {
            margin-top: 4px;
        }
        @include ipadPro {
            margin-top: 9px;
        }
    }
    &__deliveryWrapper {
        position: absolute;
        top: 0;

        width: 41%;
        height: 59px;
        border-bottom: 9px solid $color-gold;
        background: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        &-blacksmith {
            padding-right: 10px;
            text-align: end;
            right: 0;
            border-left: 9px solid $color-gold;
            border-bottom-left-radius: 40px;
            @include desktopM {
                border-left: 7px solid $color-gold;
            }
            @include laptopM {
                border-left: 5px solid $color-gold;
            }
            @include laptopS {
                border-left: 4px solid $color-gold;
            }
            @include ipadPro {
                border-left: 6px solid $color-gold;
            }
        }
        @include desktopM {
            border-bottom: 7px solid $color-gold;
            height: 47px;
            font-size: 13px;
        }
        @include laptopM {
            border-bottom: 5px solid $color-gold;
            height: 39px;
            font-size: 11px;
        }
        @include laptopS {
            border-bottom: 4px solid $color-gold;
            height: 36px;
            font-size: 10px;
        }
        @include ipadPro {
            border-bottom: 6px solid $color-gold;
            height: 55px;
            font-size: 16px;
            width: 300px;
        }
    }
    &__deliveryTitle {
        font-size: 1.25em;
        font-weight: 900;
        letter-spacing: 0.063rem;
        word-spacing: 0.125rem;
        text-shadow: 0.063rem 0 $color-gold;
    }
    &__deliveryTime {
        font-size: 1.875em;
        font-weight: 700;
        word-spacing: 0.125rem;
    }
    &__itemPriceWrapper {
        height: 30px;
        background: $color-gray-dark;
        border-radius: 18px;
        margin-top: 0.25rem;
        padding: 0.188rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include laptopM {
            height: 23px;
        }
        @include ipadPro {
            height: 30px;
        }
    }
    &__itemPriceIcon {
        height: 90%;
        width: auto;
        object-fit: cover;
    }
    &__itemPrice {
        margin-left: 0.438rem;
        font-weight: 900;
        color: $color-gold;
        font-size: 1.438rem;
        letter-spacing: 0.063rem;
    }
    .afford-no &__itemPrice {
        text-shadow: 0.188rem 0.188rem 0.125rem $color-error;
    }
    .afford-yes &__itemPrice {
        text-shadow: 0.188rem 0.188rem 0.125rem $color-green;
    }
    .afford-no &__itemPriceWrapper {
        box-shadow: 0 0 0.313rem $color-error;
    }
    .afford-yes &__itemPriceWrapper {
        box-shadow: 0 0 0.313rem $color-green;
    }
}

.dragging {
    width: 70%;
    height: 70%;
}

@keyframes an__blacksmith_messageCloud {
    100% {
        transform: none;
    }
}
@keyframes an__blacksmith_messagePoint {
    100% {
        right: -200px;
    }
}
