.wizard {
    height: 100%;
    display: flex;
    background-image: url("/images/background_wizard.jpg");
    background-size: 100% 100%;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    &__characterWrapper {
        grid-column: 1/1;
        grid-row: 1/1;
        padding-left: 20px;
    }
    &__characterImg {
        width: 96%;
        height: auto;
        object-fit: cover;
    }
    &__descriptionWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/1;
        grid-row: 2/2;
        padding: 20px;
        max-height: 336px;
    }
    &__description {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: relative;
        backdrop-filter: blur(2px);
        transition: 0.3s;

        &:hover {
            backdrop-filter: blur(4px);
        }
    }
    &__title {
        font-size: 37px;
        letter-spacing: 0.25rem;
        word-spacing: 0.188rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #e85df5;
        -webkit-text-stroke: 1px $color-black;
    }
    &__text {
        font-size: 1.25rem;
        word-spacing: 0.125rem;
        line-height: 1.25rem;
    }
    &__actionBar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    &__actionError {
        position: absolute;
        top: -14px;
        right: 0;
        color: $color-error;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.063rem;
        -webkit-text-stroke: 1px $color-black;
    }
    &__btn {
        font-size: 1.375rem;
        border: none;
        outline: none;

        font-weight: 900;
        background: #79decf;
        color: $color-white;
        padding: 0.313rem 0.75rem;
        border-radius: 0.625rem;
        margin-top: 0.625rem;
        transition: 0.2s;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            letter-spacing: 0.065rem;
        }
    }
    &__countdownWrapper{
         position: absolute;
        text-align: right;
        bottom: 10px;
        right: 10px;
        div:first-child{
            font-size: 1.25rem;
            font-weight: 900;
            letter-spacing: 0.063rem;
            word-spacing: 0.125rem;
            text-shadow: 0.063rem 0 #e85df5;
        }
    }
    &__countdown {
        width: 100%;       
        font-size: 1.875rem;
        font-weight: 700;
        word-spacing: 0.125rem;
    }
}
.spinningWheel {
    &__wrapper {
        grid-column: 2/-1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__itemImg {
        width: 141px;
        height: auto;
        object-fit: cover;
        margin-bottom: 157px;
    }
}
.spinningWheel__content {
    width: 700px;
    height: 700px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #ffd26a;
    position: relative;
    overflow: hidden;
    transition: 5s;
    box-sizing: border-box;
    &-animation {
        animation: 10s an__spinning_wheel_rotate infinite;
    }
    div {
        height: 50%;
        width: 280px;
        position: absolute;
        clip-path: polygon(100% 0, 50% 100%, 0 0);
        transform: translateX(-50%);
        transform-origin: bottom;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background: rgb(230, 243, 255);
        background: linear-gradient(229deg, rgba(230, 243, 255, 1) 37%, rgba(185, 212, 240, 1) 53%);
        left: 195px;
    }

    .circle {
        clip-path: none;
        position: absolute;
        top: calc(50% - 40px);
        left: 50%;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: $color-gray-dark;
        z-index: 2;

        &-animation {
            animation: 2s an__spinning_wheel_circle forwards;
        }
    }

    .one {
        left: 50%;
    }
    .two {
        transform: rotate(45deg);
    }
    .three {
        transform: rotate(90deg);
    }

    .four {
        transform: rotate(135deg);
    }
    .five {
        transform: rotate(180deg);
    }
    .six {
        transform: rotate(225deg);
    }
    .seven {
        transform: rotate(270deg);
    }
    .eight {
        transform: rotate(315deg);
    }
}
#wonItem_wrapper {
    position: absolute;
    z-index: 10;
}
.wonItem {
    &__wrapper {
        border: 5px solid $color-gold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 241px;
        transform: scale(0%);
        background: $color-white;
        border-radius: 20px;
        animation: 1s an__wonItem_wrapper ease-in-out forwards;
    }
    &__img {
        width: 96%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
        @include deskopM {
            width: 70%;
        }
    }
}
@keyframes an__spinning_wheel_rotate {
    100% {
        transform: rotate(3060deg);
    }
}
@keyframes an__wonItem_wrapper {
    100% {
        padding: 10px;
        transform: scale(100%);
    }
}
@keyframes an__spinning_wheel_circle {
    100% {
        width: 100%;
        height: 100%;
        top: 0;
    }
}
