.wizard{
    height: 100%;
    display: flex;
    background-image: url('/images/background_wizard.jpg');
    background-size: 100% 100%;
    position: relative;
    
    &__item{
        width: 50%;
        height: 100%;
        padding: 10px;
        z-index: 2;
        &:first-child {
            border-right: 6px solid $color-gray_dark;
        }
    }

    &__shopWrapper{
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
    }
    &__frame{
        background-image: url('/images/wizard_item_frame.png');
    }
}